.text-gradiente {

    background: linear-gradient(to right, #e3c9b6, #d8363a, #dd3675, #b44593);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

table {
    background-color: grey; /* Color de fondo para toda la tabla */
}
tr:nth-child(even) {
    background-color: #a69f99; /* Color de fondo para filas alternas */
}
td {
    background-color: #f3f0e8; /* Color de fondo para celdas */
}
td {
    box-shadow: 2px 2px 5px rgba(106, 5, 5, 0.2); /* Sombra en las celdas */
    border: 1px solid #f4b8b8; /* Borde en las celdas */
}
