<div class="container py-3 background-gradient" style="margin-bottom: 80px !important;">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis"><strong>Tickets Order Buys</strong></h1>
            <p class="fs-5 text-body-secondary">Ordenes de compras </p>
        </div>
    </header>


        <div class="col-md-8">
            <main>
              
                <div class="row-flex row-cols-1  text-center">
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3  margin-bottom: 100px">
                                <h4 class="my-0 fw-normal text-primary"><strong><Tbody></Tbody> Orden de compra</strong></h4>
                            </div>
                            
                            <div class="card-responsive">
                
                                    <span class="bg-primary" style="font-size: large;">
                                        <i class="fas fa-glass-cheers"></i>
                                    </span>
                                    
                                <h1 class="card-title pricing-card-title"> {{ticketOrderBuy?.id}}<small class="text-body-secondary fw-light"> ✍ </small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <span class="badge bg-primary" style="font-size: large;">
                                        <i class="fas fa-glass-cheers"></i>
                                    </span>
                                    
                                    @if (ticketOrderBuy) {
                                        <p>
                                           
                                            
                                            <label><strong>Fecha:</strong>  {{ticketOrderBuy.startDate| date: 'dd/MM/yyyy'}} </label>
                                            <label><strong>Descuento: </strong>  {{ticketOrderBuy.discount}}% </label>
                                            <label><strong>Precio Toltal: </strong>  {{ticketOrderBuy.totalPrice}} </label>
                                            <label><strong>Metodo de pago: </strong>  {{ticketOrderBuy.paymentMethod}} </label>
                                            <label><strong>Cantidad: </strong>  {{ticketOrderBuy.quantity}} </label>
                                            <label><strong>Medio de compra: </strong>  {{ticketOrderBuy.channel}} </label>
                                            <label><strong>Código: </strong>  {{ticketOrderBuy.qrUrl}} </label>
                                            <span class="badge bg-primary" style="font-size: large;"></span>
                                        }
                                            <a class="w-50 btn btn-lg btn-outline-primary p-1 me-3 mx-auto" [routerLink]="['/ticketOrderBuys/create']">Editar Ticket</a>

                                   

                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </main>
        </div>
    </div>


