<div class="container" style = "width: 80%;">
    <div class="row">
        <div class="col">


            <h1 class="mt-5 mb-5 text-gradiente">Detalle de Track con Id: <span class="circular-span">{{track?.id}}</span></h1>

            @if (track) {
            <div class="card mb-5" style="border-radius: 30px;">
                <p style="font-size: large;"><strong style="color: rgb(240, 242, 247);">{{track.name}}</strong>
                    <strong style="color: aqua;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <ins>Inicio:</ins></strong>
                    <span class="badge text-bg-warning text-decoration-none ms-3 me-3" >
                        <i class="bi bi-calendar3 me-2"></i>
                        Día 
                        {{track.startDate | date: 'dd/MM/yyyy'}}</span>
                    <span class="badge text-bg-info text-decoration-none ms-1 me-4" >
                        <i class="bi-alarm me-2" style="font-size: 1rem; color: white;"></i>
                        Hora {{track.startDate | date: 'HH:mm'}}</span>
                    <strong style="color: aqua;">&nbsp;&nbsp;<ins>Fin:</ins></strong>

                    <span class="badge text-bg-warning text-decoration-none ms-3 me-3" >
                        <i class="bi bi-calendar3 me-2"></i>
                        Día {{track.startDate | date: 'dd/MM/yyyy'}}</span>
                    <span class="badge text-bg-info text-decoration-none ms-1">
                        <i class="bi-alarm me-2" style="font-size: 1rem; color: white;"></i>
                        Hora {{track.endDate | date: 'HH:mm'}}</span>
                   
                </p>
            </div>

            <button class="w-100 btn btn-lg btn-outline-warning  p-1 me-3 mb-5" style="display: block; background-color: #de2c5b;" [routerLink]="['/tracks', track.id, 'update']">Editar Track</button>
            
            }
        </div>
    </div>
</div>

<!--
    <p id="diaSemana"></p>

    <script>
                var fecha = new Date();
                var dias = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];
                document.getElementById('diaSemana').innerHTML = dias[fecha.getDay()];
                </script>
-->
