.card {
    width: 950px;
    height: 70px;
    background: linear-gradient(to right, #e3c9b6, #d8363a, #dd3675, #b44593);
    border: 1px solid #000;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  
  .card:hover {
    transform: rotateX(180deg);
  }
  .circular-span {
    background-color: rgb(194, 69, 38); /* Cambia a tu color preferido */
    border-radius: 50%; /* Hace que el span sea circular */
    padding: 5px; /* Espacio alrededor del texto */
    color: black; /* Color del texto */
  }
  .text-gradiente {

    background: linear-gradient(to right, #e3c9b6, #d8363a, #dd3675, #b44593);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  