
<div class = container style=" text-align: center; ;" >
    <div class = "flex-sm-row">

        <div class="flex-column">

            <img style="width: 80%;" src= "https://media.istockphoto.com/vectors/error-page-vector-template-for-website-vector-id961856270?k=6&m=961856270&s=612x612&w=0&h=V2aB2KL8oshGODHNgMP4AXb4Ah2nKsELf_mt6IEfFeo=">
            <!--https://th.bing.com/th/id/OIP.kh2FqcUwI8YaqlyZHG5YOgHaHa?pid=ImgDet&w=192&h=192&c=7&dpr=1,5"
            https://th.bing.com/th/id/OIP.kkXPmS7m28SnxwjPudVcQAHaHa?pid=ImgDet&w=192&h=192&c=7&dpr=1,5-->


        </div>

    </div>


</div>
