

<div class="container" style = "width: 40%;">
  <div class="row">
      <div class="col">
        @if (isUpdate) {
          <h1 class="mt-5 mb-3 text-gradiente">Actualizar Track existente con id:  {{trackForm.get('id')?.value}}</h1>
       
      } @else {
          <h1 class="mt-5 mb-3 text-gradiente" >Crea Nuevo Track</h1>
      }

      <div class="mb-5">
          <form class="border-form-ppal" [formGroup]="trackForm" (ngSubmit)="save()">

              <input type="hidden" formControlName="id">

              <div class="form-floating mb-3 border-form">
                  <input type="text" class="form-control option-int" id="name"
                   placeholder="Nombre por defecto Track" formControlName="name"> <!--conexion entre html y TS-->
                  <label class="ms-3"  for="name">Nombre del Track</label>
              </div>
              
             
                <div class="form-floating mb-3 border-form">
                  <input type="datetime-local" class="form-control option-int" id="startDate"
                    formControlName="startDate" > <!--conexion entre html y TS-->
                  <label for="startDate">Fecha inicio del Track</label>
              </div>
              <div class="form-floating mb-3 border-form">
                  <input type="datetime-local" class="form-control option-int" id="endDate"
                    formControlName="endDate"> <!--conexion entre html y TS-->
                  <label for="endDate">Fecha fin del Track</label>
              </div>
              <div class="form-check mb-3 border-form ">
                <input type="checkbox" class="form-check-input" id="visible" formControlName="visible">
                <label class="form-check-label" for="visible" style="cursor:pointer;">
                  Visible
                </label>
              </div>
              @if (isUpdate) {
                <button class="w-100 btn btn-lg btn-outline-warning  p-1 me-3 mb-3" style="display: block;background-color: #d56d0c;" type="submit"><i class="bi bi-wrench-adjustable me-2"></i>Actualizar</button>
              } @else {
                <button class="w-100 btn btn-lg btn-outline-info  p-1 me-3 mb-3" style="display: block; background-color: #106db9;" type="submit">🪄 Crear</button>
              }
       
    
          </form>
      </div>
  </div>
</div>
</div>
