<div data-v-11914986="" data-v-84a2a024="" class="marquee">
  <div data-v-11914986="" aria-hidden="true" class="marquee__inner">
     
    <div style="display: inline-flex; align-items: center;">
      <span data-v-11914986="" class="item"> Únete a nuestro Proyecto tecnológico </span>
      <svg data-v-11914986="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 26.8" xml:space="preserve" style="fill:#4f8cef; width: 20px;">
        <path d="M15,13.4L0,26.8V0L15,13.4z" class="st0"></path>
        <path d="M30,13.4L15,26.8V0L30,13.4z" class="st0"></path>
      </svg>
    </div>
  
    <div style="display: inline-flex; align-items: center;">
      <span data-v-11914986="" class="item">Te damos la bienvenidad  4itech  </span>
      <svg data-v-11914986="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 26.8" xml:space="preserve" style="fill:#ee7724; width: 20px;">
        <path d="M15,13.4L0,26.8V0L15,13.4z" class="st0"></path>
        <path d="M30,13.4L15,26.8V0L30,13.4z" class="st0"></path>
      </svg>
    </div>
    
    <div style="display: inline-flex; align-items: center;">
      <span data-v-11914986="" class="item">Actualiza tus conocimientos</span>
      <svg data-v-11914986="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 26.8" xml:space="preserve" style="fill: #4f8cef; width: 20px;">
        <path d="M15,13.4L0,26.8V0L15,13.4z" class="st0"></path>
        <path d="M30,13.4L15,26.8V0L30,13.4z" class="st0"></path>
      </svg>
    </div>
    
    <div style="display: inline-flex; align-items: center;">
      <span data-v-11914986="" class="item">Compra tu Ticket y obten un 20% de descuento</span>
      <svg data-v-11914986="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 26.8" xml:space="preserve" style="fill: #ee7724; width: 20px;">
        <path d="M15,13.4L0,26.8V0L15,13.4z" class="st0"></path>
        <path d="M30,13.4L15,26.8V0L30,13.4z" class="st0"></path>
      </svg>
    </div>
    
    <div style="display: inline-flex; align-items: center;">
      <span data-v-11914986="" class="item">Ser estudiante Fundación Adecco</span>
      <svg data-v-11914986="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 26.8" xml:space="preserve" style="fill: #4f8cef; width: 20px;">
        <path d="M15,13.4L0,26.8V0L15,13.4z" class="st0"></path>
        <path d="M30,13.4L15,26.8V0L30,13.4z" class="st0"></path>
      </svg>
    </div>
    
    <div style="display: inline-flex; align-items: center;">
      <span data-v-11914986="" class="item"> Conectando metes, creando futuro </span>
      <svg data-v-11914986="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 26.8" xml:space="preserve" style="fill:#ee7724; width: 20px;">
        <path d="M15,13.4L0,26.8V0L15,13.4z" class="st0"></path>
        <path d="M30,13.4L15,26.8V0L30,13.4z" class="st0"></path>
        
      </svg>
    </div>
  </div>
</div>
<div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top"></div>




<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
  
          <a routerLink="/home">
            <img src="/assets/img/logo4itech-v4.png" alt="Logo_4iTech" style="max-width: 150px;">
          </a>
  
        </div>
  
  
        <div class="col-6 col-md-2 mb-3">
          <h5></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/keynotes" class="nav-link p-0 text-body-secondary">Charlas</a></li>
            <li class="nav-item mb-2"><a href="/tracks" class="nav-link p-0 text-body-secondary">Programación</a></li>
            <li class="nav-item mb-2"><a href="/home" class="nav-link p-0 text-body-secondary">Patrocinadores</a></li>
            <li class="nav-item mb-2"><a href="/comments" class="nav-link p-0 text-body-secondary">Reseñas</a></li>
            <li class="nav-item mb-2"><a href="/home" class="nav-link p-0 text-body-secondary">Imagen Corporativa</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-body-secondary">Contacta con nosotros</a></li>
            <li class="nav-item mb-2"><a href="keynotes" class="nav-link p-0 text-body-secondary">Grabaciones</a></li>
            <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-body-secondary">Información</a></li>
            <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-body-secondary">Newsletter</a></li>
            <li class="nav-item mb-2"><a href="/register" class="nav-link p-0 text-body-secondary">Registrate</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribete en nuestra newsletter</h5>
              <p>Unete a nuestra comunidad hoy mismo y sé parte de una experiencia única de aprendizaje y descubrimiento.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Escribe tu correo</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribirme</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>© 2024 &commat;4iTech Eventos, Inc. All rights reserved.</p>
  
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="link-body-emphasis" href = "https://www.twitter.com" target="_blank">
              <i class="bi bi-twitter-x fs-1"></i>
            </a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://www.instagram.com" target="_blank">
              <i class="bi bi-instagram fs-1"></i>
            </a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href= "https://www.threads.com" target="_blank">
              <i class="bi bi-threads fs-1"></i>
            </a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis"  href="https://github.com/" target="_blank" >
              <svg height="60" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="40" data-view-component="true">
               <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
              </svg>
            </a>
          </li>
          
        </ul>
      
      </div>
    </footer>
  </div>
