

.full-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 2em;
    font-family: 'Urbanist', sans-serif;
    color: #0b842a;
}


.small-button {
    padding: 5px 10px;
    font-size: 0.8em;
    text-align: center;
}


.container-fluid {
    width: 25%;
    margin: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label {
    text-align: center;
    display: block;
}