
<div class="container py-3 background-gradient" style="max-width:960px; margin-bottom: 80px !important;">
  <main> 
  <header>
    <div class="py-5 text-center">
      @if (ticket) {
        <h2>Compra tu ticket {{ticket.id}} </h2>
      }@else {
        <h1 class="display-4 fw-normal text-body-emphasis text-primary"><strong>Aquí esta tu orden de compra</strong></h1>
      }

      <p class="lead fs-5 text-body-secondary">Edita o actualiza la información de las ordenes de compra</p>
      <img class="d-block mx-auto mb-4" src="/assets/Ticket/img/compras.gif" alt="" width="72" height="57">
    </div>
  </header>
  
          
             <div class="row g-5">
               <div class="col-lg-8 border rounded p-3" style="background-color: #f5f5f5;">
                  <div class="py-1 text-center">
      <h4 class="mb-3">Datos de la compra</h4>

      @if (showFinishMessage) {
        <ngb-alert type="primary" [dismissible]="false" style="min-height:150px;" class="my-5">
          Compra completada con éxito.
          <br>
          El localizador de tu reserva es {{ticketOrderBuy?.id}}
          <br>
          Podrás ver tu pedido en tus reservas ingresando con tu cuenta, para soporte contacte con
          <a href="mailto:spam@4itech.com">spam&commat;4itech.com</a>.
          <img class="d-block mx-auto mb-4" src="/assets/Ticket/img/Entrada.gif" alt="" width="72" height="57">
          <button class="w-100 btn btn-primary btn-lg mb-5 mt-5" routerLink="/ticketOrderBuys">Volver a ticket</button>
        </ngb-alert>
      } @else {
        <form class="needs-validation" novalidate="" [formGroup]="ticketOrderBuyForm" (submit)="save()">
          <!-- Aquí iran las fechas de inicio reserva y fecha fin reserva -->
          <div class="form-floating mb-3">
            <p>Selecciona los días que deseas asistir a nuestro evento:</p>
            <input type="date" class="form-control" id="startDate"
            formControlName="startDate" placeholder="yyyy-mm-dd" (change)="calculatePrice()">
            <label for="startDate">Fecha inicio</label>
          </div>
          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="finishDate"
            formControlName="finishDate" placeholder="yyyy-mm-dd" (change)="calculatePrice()">
            <label for="finishDate">Fecha fin</label>
          </div>
          <hr class="my-4">
          <div class="col-md-7 col-lg-8">
            <input type="checkbox" class="form-check-input" id="isStudent"
            formControlName="isStudent" (change)="calculatePrice()">
            <label class="form-check-label" for="isStudent">
              Soy Estudiante adecco
            </label>
          </div>
          <hr class="my-4">
          <!-- Selector de  packs -->
          <div class="py-1 text-center">
            <label for="extraService">Elije tu Pack</label>
            <select class="form-select" id="extraService" formControlName="extraService" (change)="calculatePrice()">
              <option value="0">Ticket plata (50 €)</option>
              <option value="20">Ticket oro (50 €)</option>
              <option value="50">Ticket Diamante (100 €)</option>
            </select>
      
          </div>
          <div class="py-3 text-center">
            <label for="quantity" class="form-label"><strong>Cantidad de tickets a comprar</strong></label>
            <input min="1" max="15" type="number" class="form-control form-input" id="quantity" name="quantity" formControlName="quantity" (change)="calculatePrice()">
            <small class="form-text text-muted">Máximo 15 tickets por compra.</small>
          </div>
          <div class="py-3 text-center">
          <label for="paymentMethod" class="form-label"> <strong>Método de Pago</strong></label>
          <select class="form-select form-input" id="paymentMethod">
            <option selected disabled>Selecciona un método</option>
            <option value="tarjeta">Tarjeta débito</option>
            <option value="tarjeta2">Tarjeta crédito</option>
            <option value="paypal">Paypal</option>
          </select>
        </div>
        
          <div class="justify-content-center">
            <span class="form-label"> <strong>Método de Compra</strong></span>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="online" checked>
              <label class="form-check-label" for="online">Compra Online</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="offline">
              <label class="form-check-label" for="offline">Compra Offline </label>
            </div>
          </div>
        
        <div class="py-2 mb-3 text-center">
          <select class="form-select" id="codigoqrUrl">
            <select class="form-select form-input" id="paymentMethod">
              <option selected disabled>Este es tu codigo</option>
            <option >4itech Url</option>
          </select>
        </select>
      </div>

        <p>Antes de confirmar tu compra, recuerda que no se hacen devoluciones.</p>
          <button type="submit" class="btn btn-lg btn-outline-primary p-1 me-3">Comprar</button>
          <button type="submit" class="btn btn-lg btn-outline-info p-1 me-3">Actualizar Ticket</button>
          <button type="button" class="btn btn-lg btn-outline-danger p-1 me-3" [routerLink]="['/tickets', ticket?.id]">Cancelar</button>
      
        </form>
      }
                  </div>
                </div>
               
                <div class="col-lg-4 col-md-5  order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-primary">Precios</span>
                  <span class="badge bg-primary rounded-pill"> {{numDays}} días</span>
                </h4>
               
                <ul class="list-group mb-3">
                  @if (ticketPrice > 0) {
                    <li class="list-group-item justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Precio por día</h6>
                            <small class="text-body-secondary"> {{ticket?.price}}</small>
                        </div>
                        <span class="text-body-secondary">{{ticketPrice | currency:'EUR':'symbol':'1.2-2'}}</span>
                    </li>
                    }
                    @if(ticketOrderBuyForm.get('isPremiumShip')?.value) {
                      <li class="list-group-item justify-content-between lh-sm">
                          <div>
                              <h6 class="my-0">Ticket dos días</h6>
                              <small class="text-body-secondary">ticket diamante</small>
                          </div>
                          <span class="text-body-secondary">{{shipPrice}}</span>
                    </li>
                    }
                    @if(extraPrice > 0) {
                      <li class="list-group-item  justify-content-between lh-sm">
                        <div>
                          <h6 class="my-0">ticket un solo día</h6>
                          <small class="text-body-secondary">ticket premium</small>
                        </div>
                        <span class="text-body-secondary">{{extraPrice}}</span>
                      </li>
                      }
                      <li class="list-group-item  justify-content-between bg-body-tertiary">
                        <div class="text-success">
                          <h6 class="my-0">Promo code</h6>
                          <small>Soy4itech</small>
                        </div>
                        <span class="text-success"> - 20% de descuento </span>
                      </li>
                      <li class="list-group-item justify-content-between">
                        <span>Total (EUR)</span>
                        <strong>{{totalPrice | currency:'EUR':'symbol':'1.2-2'}}</strong>
                      </li>
                </ul>
                <form class="card p-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <button type="submit" class="btn btn-secondary">Obten tu Descuento por ser estudiante</button>
                  </div>
                </form>
                </div>
             </div>
          
        </main>
</div>


      



      

