.circular-span {
  background-color: rgb(28, 158, 28); /* Cambia a tu color preferido */
  border-radius: 50%; /* Hace que el span sea circular */
  padding: 5px; /* Espacio alrededor del texto */
  color: white; /* Color del texto */
}
.border-form-ppal {
  background: linear-gradient(to right, #104ba8, #2f6ac9, #4184da, #69a8f9);
  padding: 20px;
  border-radius: 25px;
  border-width: 2px;
  border-style: ridge;
  border-color: #150e79;
  
}
.border-form {
  padding: 20px;
  border-radius: 25px;
  border-width: 2px;
  border-style: ridge;
  border-color: #150e79;
  background-color: rgb(162, 205, 231);
  font-size: larger;

}
.option-int {
 
  border-radius: 3px;
  border-style: ridge;
  background-color: rgb(185, 223, 245);
  font-size: large;

}
.text-gradiente {

  background: linear-gradient(to right, #1fa746, #6feb82, #7890e9, #10a3b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*
.carta-box {
  width: 200px;
  height: 250px;
  position: relative;
  perspective: 1000px;
}

.carta-box:hover .carta {
  transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 1s linear;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
}

.cara.detras {
  transform: rotateY(180deg);
}
*/
