<div class="container" style = "width: 60%;">
  <div class="row">
    <div class="col">

      @if (isUpdate) {
        <h1 class="mt-5 mb-3 text-gradiente">Actualizar comentario con id:  {{commentForm.get('id')?.value}}</h1>
      } @else {
        <h1 class="mt-5 mb-3 text-gradiente">Escribe tu comentario</h1>
      }
      @if (isLoggedIn) {

        <div class="mb-5">
          <form class="border-form-ppal" [formGroup]="commentForm" (ngSubmit)="save()">

          <input type="hidden" formControlName="id">

          <div class="form-floating mb-4">
            <p><strong style="color: rgb(214, 240, 214); font-size: x-large;">Valora la Charla:</strong></p>
            
            <ngb-rating [(rate)]="rating"  [max]="5" formControlName="rating">
              <ng-template let-fill="fill" let-index="index">
                <i class="bi-star{{ fill === 100 ? '-fill' : '' }} fs-1"  style="color: rgb(222, 191, 39); margin: 4px;"></i>
              </ng-template>
            </ngb-rating>
            
            <hr />
            <pre style="font-size: larger; border-radius:5px;"><span class="badge text-bg-primary ms-1 me-3">Valoración: <b>{{commentForm.get('rating')?.value ?? 0}}</b></span></pre>
          </div>

          <!--
          <div class="form-floating mb-3 border-form" >
            <select class="form-select option-int"  id="keynote" formControlName="keynote" [compareWith]="compareObjects">

                iterar sobre el array de keynotes mostrando cada una 
              @for (keynote of keynotes; track keynote.id) {
                <option [ngValue]="keynote">{{keynote.title}}</option>
              }

            </select>
            <label for="keynote">Charla del comentario</label>
          </div>
        -->

          <div class="form-floating mb-3">
            
            <textarea style="height: 150px;" class="form-control border-form"  id="opinion" formControlName="opinion"  rows="3" ></textarea>
            <label for="opinion" class="form-label "style="font-size:larger">Reseña</label>
          </div>

          <!--<div class="form-floating mb-3 border-form">
            
            <input type="datetime-local" class="form-control option-int" id="dateTime" formControlName="dateTime"
            [ngModel]="dateTime | date:'yyyy-MM-ddTHH:mm'" [readonly]="true">
           
            <label for="dateTime">Fecha de creación del comentario</label>
          </div>
           
          @if (isAdmin) {
            <div class="form-floating mb-5 border-form">
              <select class="form-select option-int"  id="user" formControlName="user" [compareWith]="compareObjects">
  
  
                   iterar sobre el array de users mostrando cada uno 
               @for (user of users; track user.id) {
                  <option readonly [ngValue]="user">{{user.firstName}}--{{user.email}}</option>
                }
  
              </select>
              <label for="user">Usuario del comentario</label>
            </div>  
          }
        -->
        
        

          @if (isUpdate && isAdmin) {
            <button class="w-100 btn btn-lg btn-outline-light  p-1 me-3 mb-3" style="display: block;background-color: #1a119a;" type="submit"><i class="bi bi-wrench-adjustable me-2"></i>Guardar comentario</button>
          }
         

        </form>

        </div>
        

        

      } @else {
        <div class="container">
          <h3 class="text-secondary" style="font-family: 'Libre Franklin'">
            <strong>Para crear comentarios debes acceder como usuario registrado </strong><button class="btn me-3 ms-3">
              <a
                class="nav-link border border-warning rounded border-2 p-1"
                routerLink="/register"
                (click)="$event.preventDefault()"
                id=""
                role="button"><i class="bi bi-box-arrow-in-right me-2"></i>Registrarse</a>
            </button>
          </h3>
        </div>
      }

       
    </div>
  </div>
</div>