


<div class="container" style = "width: 50%;">
    <div class="row">
      <div class="col">
  ,
        @if (isUpdate) {
          <h1 class="mt-5 mb-5" style="color: green;">Actualizar comentario existente con id {{commentForm.get('id')?.value}}</h1>
        } @else {
          <h1 class="mt-5 mb-5" style="color: green;">Crear nuevo comentario</h1>
        }
  
  
          <form [formGroup]="commentForm" (ngSubmit)="save()">
  
            <input type="hidden" formControlName="id">
  
            <div class="form-floating mb-4">
              <p><strong>Valora la Charla:</strong></p>
              
              <ngb-rating [(rate)]="rating"  [max]="10" formControlName="rating">
                <ng-template let-fill="fill" let-index="index">
                  <i class="bi-star{{ fill === 100 ? '-fill' : '' }} fs-0.9"  style="color: rgb(222, 191, 39); margin: 4px;"></i>
                </ng-template>
              </ngb-rating>
              
              <hr />
              <pre>Valoración: <b>{{commentForm.get('rating')?.value ?? 0}}</b></pre>
            </div>

            <div class="form-floating mb-5">
              <input type="datetime-local" class="form-control" id="dateTime" formControlName="dateTime">
              <label for="dateTime">Fecha de creación del comentario</label>
            </div>
             
            <div class="form-floating mb-5">
              
              <textarea style="height: 150px;;" class="form-control" id="opinion" formControlName="opinion" rows="3"></textarea>
              <label for="opinion" class="form-label">Reseña</label>
            </div>
  
            <div class="form-floating mb-5" >
              <select class="form-select" id="keynote" formControlName="keynote" [compareWith]="compareObjects">
  
  
                  <!-- iterar sobre el array de keynotes mostrando cada una -->
                @for (keynote of keynotes; track keynote.id) {
                  <option [ngValue]="keynote">{{keynote.title}}</option>
                }
  
              </select>
              <label for="keynote">Charla del comentario</label>
            </div>

            <div class="form-floating mb-5" >
              <select class="form-select" id="user" formControlName="user" [compareWith]="compareObjects">
  
  
                  <!-- iterar sobre el array de users mostrando cada uno -->
               @for (user of users; track user.id) {
                  <option [ngValue]="user">{{user.firstName}}</option>
                }
  
              </select>
              <label for="user">Usuario del comentario</label>
            </div>  
  
  
            @if (isUpdate) {
              <button class="btn btn-success" type="submit">Actualizar</button>
            } @else {
              <button class="btn btn-success" type="submit">Crear</button>
            }
  
  
          </form>
  
      </div>
    </div>
  </div>


  
