<main>


  <div class="row mb-5 mt-4" style="justify-content: center;">
    <h2
          class="text-secondary fw-bold mt-4 text-center mb-5"
          style="font-family: 'Libre Franklin'"
        >
          Los organizadores de &commat;4iTech
        </h2>


        
  <div
  class="col-lg-2 me-3"
  style="
    box-shadow: 0 0 4px #ccc;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Libre Franklin';
    border-top: 6px solid #D2B53B;
  "
>
  <img
    class="rounded-circle mt-2 zoom1"
    src="assets/nosotros/Silvia.png"
    alt="Generic placeholder image"
    width="140"
    height="140"
  />
  <h3 class="text-secondary mt-3">Silvia Sánchez</h3>
  <p class="text-secondary">Desarrolladora Full Stack Java Spring Boot</p>
  <a href=""><i class="bi bi-linkedin fs-3 me-3"></i></a
  ><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
</div>
<!-- /.col-lg-4 -->
<div
  class="col-lg-2 me-3"
  style="
    box-shadow: 0 0 4px #ccc;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Libre Franklin';
    border-top: 6px solid #4284db;
  "
>
  <img
    class="rounded-circle mt-2 zoom"
    src="assets/nosotros/Aitor.jpeg"
    alt="Generic placeholder image"
    width="140"
    height="140"
  />
  <h3 class="text-secondary mt-3">Aitor Pérez</h3>
  <p class="text-secondary">Desarrollador Full Stack Java Spring Boot</p>
  <a href=""><i class="bi bi-linkedin fs-3 me-3"></i></a
  ><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
</div>
<!-- /.col-lg-4 -->
<div
class="col-lg-2 me-3"
style="
  box-shadow: 0 0 4px #ccc;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Libre Franklin';
  border-top: 6px solid #D2B53B;
"
 >
<img
  class="rounded-circle mt-2 zoom1"
  src="assets/nosotros/Johana.jpeg"
  alt="Generic placeholder image"
  width="140"
  height="140"
/>
<h3 class="text-secondary mt-3">Johana Macías</h3>
<p class="text-secondary">Desarrolladora Full Stack Java Spring Boot</p>
<a href=""><i class="bi bi-linkedin fs-3 me-3"></i></a
><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
</div>

<div
  class="col-lg-2 me-3"
  style="
    box-shadow: 0 0 4px #ccc;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Libre Franklin';
    border-top: 6px solid #4284db;
  "
>
  <img
    class="rounded-circle mt-2 zoom"
    src="assets/nosotros/Javier.png"
    alt="Generic placeholder image"
    width="140"
    height="140"
  />
  <h3 class="text-secondary mt-3">Javier Baeza</h3>
  <p class="text-secondary">Desarrollador Full Stack Java Spring Boot</p>
  <a
    href="https://www.linkedin.com/in/javier-baeza-rojano-ossorio/"
    target="_blank"
    ><i class="bi bi-linkedin fs-3 me-3"></i></a
  ><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
</div>
<!-- /.col-lg-4 -->
<div
  class="col-lg-2"
  style="
    box-shadow: 0 0 4px #ccc;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Libre Franklin';
    border-top: 6px solid #D2B53B;
  "
>
  <img
    class="rounded-circle mt-2 zoom1"
    src="assets/nosotros/Angel.jpeg"
    alt="Generic placeholder image"
    width="140"
    height="140"
  />
  <h3 class="text-secondary mt-3">Angel Martínez</h3>
  <p class="text-secondary">Desarrollador Full Stack Java Spring Boot</p>
  <a href="https://www.linkedin.com/in/angelmariamartinez/" target="_blank"
    ><i class="bi bi-linkedin fs-3 me-3"></i></a
  ><a href="https://twitter.com/angelmaria75" class="text-dark"
    ><i class="bi bi-twitter-x fs-3"></i
  ></a>
</div>
</div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      
      </div>
      <div class="col-lg-6">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
     

      <div class="container my-5">
    <div class="row p-4 pb-5 pe-lg-5 pt-lg-5 rounded-3 border shadow-lg">
        <!-- Columna de contenido -->
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h2>Proporcionamos una plataforma web fullstack dinámica educativa con charlas especializadas en una variedad de lenguajes de programación.</h2>
            <p>Creemos en el poder de la educación para impulsar la innovación y el progreso.</p>
        </div>
        <!-- Columna de video -->
        <div class="col-lg-4 overflow-hidden shadow-lg d-flex justify-content-center ">
            <video autoplay loop muted style="border-radius: 8px; ">
                <source src="assets/videos/4itech_v1.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>

 
</main>