<main>
  <h1 class="visually-hidden">Heroes examples</h1>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">&commat;4iTech</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Somos estudiantes del curso de Desarrollo de web de la <a href="https://fundacionadecco.org" target="_blank">FUNDACION ADECCO</a> impartido por el profesor Alan Sastre</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

    
    <!-- Sección sobre nosotros -->
<div class="row mb-4 mt-3" style="justify-content: center;">
  <div class="col-lg-2 me-3" style="box-shadow: 0 0 4px #ccc; padding: 10px;
border-radius: 10px; text-align: center; font-family: 'Libre Franklin'; border-top: 6px solid #4284DB;">
    <img class="rounded-circle mt-2" src="assets/nosotros/Johana.jpeg" alt="Generic placeholder image" width="140" height="140">
    <h3 class="text-secondary mt-3">Johana Macías</h3>
    <p class="text-secondary">Desarrolladora Full Stack Java Spring Boot</p>
    <a href=""><i class="bi bi-linkedin fs-3 me-3"></i></a><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-2 me-3" style="box-shadow: 0 0 4px #ccc; padding: 10px;
border-radius: 10px; text-align: center; font-family: 'Libre Franklin'; border-top: 6px solid rgba(255, 176, 5, 0.748);">
    <img class="rounded-circle mt-2" src="assets/nosotros/Silvia.png" alt="Generic placeholder image" width="140" height="140">
    <h3 class="text-secondary mt-3">Silvia Sánchez</h3>
    <p class="text-secondary">Desarrolladora Full Stack Java Spring Boot</p>
    <a href=""><i class="bi bi-linkedin fs-3 me-3"></i></a><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-2 me-3" style="box-shadow: 0 0 4px #ccc; padding: 10px;
border-radius: 10px; text-align: center; font-family: 'Libre Franklin'; border-top: 6px solid #4284DB;">
    <img class="rounded-circle mt-2" src="assets/nosotros/Aitor.jpeg" alt="Generic placeholder image" width="140" height="140">
    <h3 class="text-secondary mt-3">Aitor Pérez</h3>
    <p class="text-secondary">Desarrollador Full Stack Java Spring Boot</p>
    <a href=""><i class="bi bi-linkedin fs-3 me-3"></i></a><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-2 me-3" style="box-shadow: 0 0 4px #ccc; padding: 10px;
border-radius: 10px; text-align: center; font-family: 'Libre Franklin'; border-top: 6px solid rgba(255, 176, 5, 0.748);">
    <img class="rounded-circle mt-2" src="assets/nosotros/Javier.png" alt="Generic placeholder image" width="140" height="140">
    <h3 class="text-secondary mt-3">Javier Baeza</h3>
    <p class="text-secondary">Desarrollador Full Stack Java Spring Boot</p>
    <a href=""><i class="bi bi-linkedin fs-3 me-3"></i></a><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-2" style="box-shadow: 0 0 4px #ccc; padding: 10px;
border-radius: 10px; text-align: center; font-family: 'Libre Franklin'; border-top: 6px solid #4284DB;">
    <img class="rounded-circle mt-2" src="assets/nosotros/Angel.jpeg" alt="Generic placeholder image" width="140" height="140">
    <h3 class="text-secondary mt-3">Angel Martínez</h3>
    <p class="text-secondary">Desarrollador Full Stack Java Spring Boot</p>
    <a href="https://www.linkedin.com/in/angelmariamartinez/"><i class="bi bi-linkedin fs-3 me-3"></i></a><a href="https://twitter.com/angelmaria75" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
  </div>
</div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      
      </div>
      <div class="col-lg-6">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  
  <div class="b-example-divider"></div>

  <div class="text-emphasys px-4 py-5 text-center" style="background-color:  #3d7adc; color: #7595f4">
    <h2 class="fw-normal text-body-emphasis">Tecnologias Utilizadas para el desarrollo de &commat;4iTECH</h2>
    <img src="assets/img/Tecnologias.png" class="img-fluid" alt="Imagen de tecnologias">
    <div class="py-2">
      <div class=>
        <div class=>
        </div>
      </div>
    </div>
  </div>

      <div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Vertically centered hero sign-up form</h1>
        <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
          <hr class="my-4">
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <!-- Contenido que desees mostrar junto al video -->
        <h2>Proporcionamos una plataforma web fullstack dinámica educativa con charlas especializadas en una variedad de lenguajes de programación y temas relacionados. </h2>
        <p>Creemos en el poder de la educación para impulsar la innovación y el progreso.</p>
      </div>
      <div class="col-lg-4 p-10 overflow-hidden shadow-lg d-flex justify-content-center align-items-center">
        <video autoplay loop muted style="border-radius: 8px;">
          <source src="assets/videos/4itech_v1.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
  
</main>