<main>
  <h1 class="visually-hidden">Heroes examples</h1>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">&commat;4iTech</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Somos estudiantes del curso de Desarrollo de web de la <a href="https://fundacionadecco.org" target="_blank">FUNDACION ADECCO</a> impartido por el profesor Alan Sastre</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <div class="bd-placeholder-img rounded-circle" style="width: 140px; height: 140px; overflow: hidden;">
        <img src="/src/assets/nosotros/Silvia.png" width="140" height="140" class="img-fluid" alt="Imagen de perfil">
      </div>
        <h2 class="fw-normal">Silvia Sánchez</h2>
        <p>Desarrolladora Fullstack</p>
        
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="bd-placeholder-img rounded-circle" style="width: 140px; height: 140px; overflow: hidden;">
        <img src="/src/assets/nosotros/angel.png" width="140" height="140" class="img-fluid" alt="Imagen de perfil">
      </div>
        <h2 class="fw-normal">Angel Martinez</h2>
        <p>Desarrollador Fullstack</p>
        

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="bd-placeholder-img rounded-circle" style="width: 140px; height: 140px; overflow: hidden;">
        <img src="/src/assets/nosotros/angel.png" width="140" height="140" class="img-fluid" alt="Imagen de perfil">
      </div>
        <h2 class="fw-normal">Aitor Perez</h2>
        <p>Desarrollador Fullstack</p>
        
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <div class="bd-placeholder-img rounded-circle" style="width: 140px; height: 140px; overflow: hidden;">
        <img src="/src/assets/nosotros/javier.png" width="140" height="140" class="img-fluid" alt="Imagen de perfil">
      </div>
        <h2 class="fw-normal">Javier Baeza-Rojano</h2>
        <p>Desarrollador Fullstack</p>
        

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="bd-placeholder-img rounded-circle" style="width: 140px; height: 140px; overflow: hidden;">
        <img src="/src/assets/nosotros/angel.png" width="140" height="140" class="img-fluid" alt="Imagen de perfil">
      </div>
        <h2 class="fw-normal">Johana Macias</h2>
        <p>Desarrolladora Fullstack</p>
        
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="bd-placeholder-img rounded-circle" style="width: 140px; height: 140px; overflow: hidden;">
          <img src="/src/assets/nosotros/adecco.png" width="140" height="140" class="img-fluid" alt="Imagen de perfil">
        </div>
        <h2 class="fw-normal">Fundación Adecco</h2>
        <p>Somos Estudiandes</p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
  



  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
      </div>
      <div class="col-lg-6">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>

  <div class="text-emphasys px-4 py-5 text-center" style="background-color:  #3d7adc; color: #7595f4">
    <h2 class="fw-normal text-body-emphasis">Tecnologias Utilizadas para el desarrollo de &commat;4iTECH</h2>
    <img src="assets/img/Tecnologias.png" class="img-fluid" alt="Imagen de tecnologias">
    <div class="py-2">
      <div class=>
        <div class=>
        </div>
      </div>
    </div>
  </div>

      <div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Vertically centered hero sign-up form</h1>
        <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
          <hr class="my-4">
          <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </form>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <!-- Contenido que desees mostrar junto al video -->
        <h2>Proporcionamos una plataforma web fullstack dinámica educativa con charlas especializadas en una variedad de lenguajes de programación y temas relacionados. </h2>
        <p>Creemos en el poder de la educación para impulsar la innovación y el progreso.</p>
      </div>
      <div class="col-lg-4 p-10 overflow-hidden shadow-lg d-flex justify-content-center align-items-center">
        <video autoplay loop muted style="border-radius: 8px;">
          <source src="assets/videos/4itech_v1.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
  
</main>