<div class="container">
  <div class="row">
    @if (isLoggedIn) {
      <div class="col mt-3">
          @if (keynote) {
              <div class="d-flex">
                  <h1 class="text-secondary fw-bold mt-4" style="font-family: 'Libre Franklin', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{keynote.title}}</h1>
                  <p class="small rounded-pill bg-light p-md-2 ms-3 me-2 mt-4"><i class="bi bi-easel-fill me-2 text-secondary"></i><span class="font-weight-bold me-2">Sala</span>
                      <span class="mx-1 text-secondary" style="font-size: small; font-weight:500;">{{keynote.room.name}}</span>
                  </p>
                  <p class="small rounded-pill bg-light p-md-2 me-2 mt-4"><i class="bi bi-bar-chart-fill me-2 text-secondary"></i><span class="font-weight-bold me-2">Dificultad</span>
                      <span class="badge rounded-pill mx-1" style="color:rgb(255, 255, 255); background-color:rgb(164, 164, 164);">{{keynote.difficultyLevel}}</span>
                  </p>
                  <p class="small rounded-pill bg-light p-md-2 mt-4"><i class="bi bi-hourglass-split text-secondary me-2"></i><span class="font-weight-bold me-2">Duración</span>
                      <span class="badge rounded-pill" style="color:rgb(255, 255, 255); background-color:rgb(164, 164, 164);">{{keynote.durationInMin}}</span>
                  </p>
              </div>
              <img [src]="'http://localhost:8080/files/' + keynote.photoUrl" style="max-width: 400px; float:left;" class="img-thumbnail me-3">

              <div class="d-flex">
                  <p class="small rounded-pill bg-light p-md-2"><i class="bi bi-calendar-date-fill text-secondary me-2"></i><span class="font-weight-bold me-2">Fecha</span>
                      <span class="badge rounded-pill" style="color:rgb(255, 255, 255); background-color:rgb(164, 164, 164);">{{keynote.track.startDate | date:'dd/MM/yy'}}</span>
                  </p>
                  <p class="small rounded-pill bg-light p-md-2"><i class="bi bi-alarm me-2 text-secondary"></i><span class="font-weight-bold me-2">Hora inicio</span>
                      <span class="badge rounded-pill" style="color:rgb(255, 255, 255); background-color:rgb(164, 164, 164);">{{keynote.track.startDate | date:'HH:mm'}}</span></p>
                  <p class="small rounded-pill bg-light p-md-2"><i class="bi bi-alarm me-2 text-secondary"></i><span class="font-weight-bold me-2">Hora fin</span>
                      <span class="badge rounded-pill" style="color:rgb(255, 255, 255); background-color:rgb(164, 164, 164);">{{keynote.track.endDate| date:'HH:mm'}}</span>
                  </p>
              </div>
         
              <p [innerHTML]="keynote.description"></p>
              <p><iframe width="560" height="315" 
                [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/' + keynote.webinarUrl + '?autoplay=1')" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>

              @if (keynote.speaker){
                <h5 class="text-secondary mt-4" style="font-family:'Libre Franklin'">Ponente</h5>
                <div class="card mb-3" style="max-width: 520px;border:none;">
                  <div class="row g-0">
                    <div class="col-md-3" style="display: flex; justify-content: center;align-items:center">
                      @if (keynote.speaker.photoUrl) {
                        <img class="rounded-circle shadow-1-strong" style="width:100px; height: 100px; object-fit:cover;"
                                [src]="'http://localhost:8080/files/' + keynote.speaker.photoUrl">
                      } @else {
                      <img class="rounded-circle shadow-1-strong" style="width:100px; height: 100px;"
                                [src]="'http://localhost:8080/files/' + 'avatar.png'">
                      }
                    </div>
                    <div class="col-md-8" style="border-left: 1px solid #e6e6e6;">
                      <div class="card-body">
                        @if (keynote.speaker.firstName) {
                          <h6 class="card-title text-secondary fw-bold" style="font-family:'Libre Franklin';">{{keynote.speaker.firstName}} {{keynote.speaker.lastName}}</h6>  
                        } @else {
                        <h6 class="card-title text-secondary fw-bold" style="font-family:'Libre Franklin';">{{keynote.speaker.email}}</h6>
                        }
                        <p class="card-text small text-secondary">Ingeniero de Software y Desarrollador FullStack. Director de Merweb.co</p>
                        <span class="card-text"><small class="text-body-secondary">{{keynote.speaker.email}}</small></span>
                      </div>
                    </div>
                  </div>
                </div>


              }
              @if (isAdmin) {
              <button class="btn btn-success" [routerLink]="['/keynotes', keynote.id, 'update']">Editar Keynote</button>
              }
          }
      </div>

<!-- Listado de comentarios sobre la charla --> 
              <div class="row d-flex mb-2 mt-2 position-relative">
                  <h3 class="text-secondary fw-bold mt-3" style="font-family:'Libre Franklin';">Valoraciones</h3>
                  <p class="text-secondary">¿Qué te pareción la charla? Déjanos tu opinión <span class="btn btn-outline-danger btn-sm rounded" (click)="$event.preventDefault(); showForm = true; "><strong>aquí</strong></span></p>
                  <hr>
                  @if (showSuccessDeletedComment) {
                    <ngb-alert type="success" (closed)="showSuccessDeletedComment=false;">
                      Comentario borrado correctamente.
                    </ngb-alert>
                  }

                  @if (showErrorDeletedComment) {
                    <ngb-alert type="danger" (closed)="showErrorDeletedComment=false;">
                      No se ha podido borrar el comentario
                    </ngb-alert>
                  }

                   @for (comment of comments; track comment.id) {
                  <div class="col-md-8 col-lg-8 mb-3">
                    <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                      <div class="card-body p-4">
                
                        <div class="card mb-4">
                          <div class="card-body text-secondary">

                            <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                @if (comment.user?.photoUrl) {
                                  <img class="rounded-circle shadow-1-strong me-3"
                                [src]="'http://localhost:8080/files/' + comment.user?.photoUrl" alt="avatar" width="60"
                                  height="60" />
                                } @else {
                                  <img class="rounded-circle shadow-1-strong me-3"
                                [src]="'http://localhost:8080/files/' + 'avatar.png'" alt="avatar" width="60"
                                  height="60" />
                                }
                                
                                <div>
                                  @if (comment.user?.firstName === null) {
                                    <h6 class="fw-bold text-primary-emphasis mb-1">{{comment.user?.email}}</h6>

                                  }
                                  @else {
                                    <h6 class="fw-bold text-primary-emphasis mb-1">{{comment.user?.firstName}}</h6>
                                  }
                                  
                                  <p class="small mb-0 fst-italic">
                                    <strong>Publicado:</strong>&nbsp; <i class="bi bi-calendar3 me-2"></i> 
                                    {{comment.dateTime | date: 'dd/MM/yyyy'}} &nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="bi-alarm me-2"></i>
                                    {{comment.dateTime | date: 'HH:mm'}}
                                  </p>

                                  
                                </div>
                              </div>
                              <div class="d-flex flex-row align-items-center">
                                <p class="small text-muted mb-0">Rating</p>
                                <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                <p class="small text-muted mb-0">

                                      <ngb-rating [(rate)]="comment.rating" [max]="5" [readonly]="true">
                                      <ng-template let-fill="fill" let-index="index">
                                      <i class="bi-star{{ fill === 100 ? '-fill' : '' }}"
                                      style="color: rgb(222, 191, 39); margin: 4px;"></i>
                                      </ng-template>
                                      </ngb-rating>

                                      @if (comment.user?.id === userId || isAdmin) {

                                        <i class="bi bi-x-circle-fill fs-3 ms-3 text-danger" style="cursor:pointer;"
                                        (click)="deleteComment(comment)"></i>
                                      }

                                </p>
                              </div>
                            </div>

                            <p class="mt-3 mb-4" style="font-family:'Libre Franklin';">{{comment.opinion}}</p>
                

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              }

              @if (showForm) {
                <div class="col-4 position-absolute" style="right: 0; top: 7rem; ">
                  <div class="">
                    <div class="">
                      <!-- Formulario para agregar nuevas valoraciones -->
                    <h3 class="text-secondary fw-bold mt-3" style="font-family:'Libre Franklin';" >Añade tu reseña</h3>
            
                    <form [formGroup]="commentForm" (ngSubmit)="save()">
            
                      <ngb-rating [max]="5" formControlName="rating">
                        <ng-template let-fill="fill" let-index="index">
                          <i class="bi-star{{ fill === 100 ? '-fill' : '' }} fs-3" style="color:#debf27; margin: 2px;"></i>
                        </ng-template>
                      </ngb-rating>
            
                      <div class="form-floating mb-3">
                        <textarea class="form-control"
                          placeholder="Leave a comment here" id="opinion" formControlName="opinion" style="min-height: 120px;">
                        </textarea>
                        <label for="opinion">Comentario de texto</label>
                      </div>
            
                      <button class="w-100 btn btn-primary btn-lg mb-1 mt-1" style="background: #3271cf;" type="submit" >Enviar comentario</button>
             
                    </form>
  
                    </div>
                  </div>
                  
                  
              </div>
              }

              </div>
<!-- fin sección de listado de comentarios -->
            } @else {
              <div class="container mt-5">
                <p id="myText" class="text-secondary mt-5" style="font-family: 'Libre Franklin'">
                  <strong>Para acceder al detalle de la charla debes logarte previamente </strong>
                  <br>
                  <button class="btn me-3 ms-3">
                    <a
                      class="nav-link border border-primary-subtle rounded border-2 pe-3 inicio"
                      routerLink="/login"
                      (click)="$event.preventDefault()"
                      id=""
                      role="button"><i class="bi bi-box-arrow-in-right me-2"></i>Acceder
                    </a>
                  </button>
                </p>
              </div>
            }
  </div>

</div>