<div class="container">
    <div class="row">
        <div class="col mt-3">
            @if (keynote) {
                <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{keynote.title}}</h1>
                <img src="{{keynote.webinarUrl}}" style="max-width: 400px; float:left;" class="img-thumbnail me-3">
                <p>{{keynote.description}}</p>
                <button class="btn btn-success" [routerLink]="['/keynotes', keynote.id, 'update']">Editar Keynote</button>
            }
        </div>
    </div>
</div>