<div class="bg-navbar">
	<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
		<div class="container-fluid">
			<a routerLink="/home">
				<img src="/assets/img/logo4itech-v4.png" alt="logo" style="max-width:60px;">
			</a>
			<div class="navegador ms-4" style="float: right; height: 80px;">
				<!-- <h1 class="fw-bold ms-3 area" style="font-family: 'Libre Franklin'; line-height: 80px; color: white;">4iTech</h1> -->
				<section class="animation fw-bold">
					<div class="first fs-2">
						<div>&commat;4iTech</div>
					</div>
					<div class="second fs-2">
						<div>Charlas</div>
					</div>
					<div class="third fs-2">
						<div>Inspírate</div>
					</div>
				</section>
			</div>
			<button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
				aria-label="Toggle navigation" (click)="collapsed = !collapsed">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse me-4" [class.collapse]="collapsed" id="navbarContent">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item" ngbDropdown>

						<a style="cursor: default;" class="nav-link me-2" tabindex="0" ngbDropdownToggle
							id="navbarDropdown1" role="button"><i class="bi bi-mic me-1"></i>Charlas</a>
						<div style="margin-top: -1px;" ngbDropdownMenu aria-labelledby="navbarDropdown1"
							class="dropdown-menu resto">
							<a ngbDropdownItem routerLink="/keynotes" (click)="$event.preventDefault()"><i
									class="bi bi-card-checklist me-1"></i>Listado de Keynotes</a>
							@if (isAdmin) {
							<a ngbDropdownItem routerLink="/keynotes/create" (click)="$event.preventDefault()"><i
									class="bi bi-file-earmark-plus me-1"></i> Crear Keynote</a>
							}
						</div>
					</li>
					<li class="nav-item" ngbDropdown>
						<a style="cursor: default;" class="nav-link me-2" tabindex="0" ngbDropdownToggle
							id="navbarDropdown1" role="button"><i class="bi bi-alarm me-1"></i>Tracks</a>

						<div style="margin-top: -1px;" ngbDropdownMenu aria-labelledby="navbarDropdown1"
							class="dropdown-menu resto">
							<a ngbDropdownItem routerLink="/tracks" (click)="$event.preventDefault()"><i
									class="bi bi-card-checklist me-1"></i>Listado de Tracks</a>
							@if (isAdmin) {
							<a ngbDropdownItem routerLink="/tracks/create" (click)="$event.preventDefault()"><i
									class="bi bi-file-earmark-plus me-1"></i> Crear Track</a>
							}
						</div>
					</li>

					<li class="nav-item" ngbDropdown>
						<a routerLink="/comments" (click)="$event.preventDefault()" class="nav-link me-2" tabindex="0"
							id="navbarDropdown1" role="button"><i class="bi bi-chat-right-text me-1"></i>Reseñas</a>

						
					</li>
					<li class="nav-item" ngbDropdown>
						<a style="cursor: default;" class="nav-link me-2" tabindex="0" ngbDropdownToggle
							id="navbarDropdown1" role="button"><i class="bi bi-ticket-perforated me-1"></i>Entradas</a>

						<div style="margin-top:-1px;" ngbDropdownMenu aria-labelledby="navbarDropdownTicket"
							class="dropdown-menu resto">
							<a ngbDropdownItem routerLink="/tickets" (click)="$event.preventDefault()"><i
									class="bi bi-card-checklist me-1"></i>Ver Entradas</a>
							@if (isAdmin) {
							<a ngbDropdownItem routerLink="/tickets/create" (click)="$event.preventDefault()"><i
									class="bi bi-file-earmark-plus me-1"></i> Crear Ticket</a>
							}

							@if (isAdmin) {
							<a ngbDropdownItem routerLink="/ticketOrderBuys" (click)="$event.preventDefault()"><i
									class="bi bi-card-checklist me-1"></i>Listado de TicketOrderBuys</a>
							<a ngbDropdownItem routerLink="/ticketOrderBuys/create" (click)="$event.preventDefault()"><i
									class="bi bi-file-earmark-plus me-1"></i> Crear TicketOrderBuys</a>
							}
						</div>
					</li>
					@if (isAdmin) {
						<li class="nav-item" ngbDropdown>
							<a style="cursor: default;" class="nav-link me-2" tabindex="0" ngbDropdownToggle
								id="navbarDropdown1" role="button"><i class="bi bi-person-circle me-1"></i>Usuarios</a>
							<div style="margin-top: -1px;" ngbDropdownMenu aria-labelledby="navbarDropdown2"
								class="dropdown-menu dropdown-menu resto">
								<a ngbDropdownItem routerLink="/users" (click)="$event.preventDefault()"><i
										class="bi bi-card-checklist me-1"></i>Listado de Usuarios</a>
								
								<a ngbDropdownItem routerLink="/users/create" (click)="$event.preventDefault()"><i
										class="bi bi-file-earmark-plus me-1"></i>Crear Usuario/a</a>
								
							</div>
						</li>
					}
					

					<li class="nav-item" ngbDropdown>
						<a style="cursor: default;" class="nav-link me-2" tabindex="0" ngbDropdownToggle
							id="navbarDropdown1" role="button"><i class="bi bi-easel me-1"></i>Salas</a>
						<div style="margin-top: -1px;" ngbDropdownMenu aria-labelledby="navbarDropdown2"
							class="dropdown-menu dropdown-menu resto">
							<a ngbDropdownItem routerLink="/rooms" (click)="$event.preventDefault()"><i
									class="bi bi-card-checklist me-1"></i>Listado de Salas</a>
							@if (isAdmin) {
							<a ngbDropdownItem routerLink="/rooms/create" (click)="$event.preventDefault()"><i
									class="bi bi-file-earmark-plus me-1"></i>Crear Sala</a>
							}
						</div>
					</li>

					@if (userEmail) {
					<li class="nav-item me-3 ms-3 small">
						<a style="background-color: #1e5abbcf; color: white;" class="nav-link rounded pe-3"
							routerLink="/users/account" role="button"><i
								class="bi bi-envelope-fill me-2"></i>{{userEmail}}</a>
					</li>
					}
					@if (isLoggedIn) {
					<li class="nav-item me-3 ms-3 small">
						<a class="nav-link border border-primary-subtle rounded border-2 pe-3 inicio"
							routerLink="/login" (click)="logout()" id="" role="button"><i
								class="bi bi-box-arrow-in-right me-2"></i>Cerrar sesión</a>
					</li>
					} @else {
					<div class="d-flex">
						<li class="nav-item me-3 ms-3">
							<a class="nav-link border border-primary-subtle rounded border-2 pe-3 inicio "
								routerLink="/login" (click)="$event.preventDefault()" id="" role="button"><i
									class="bi bi-box-arrow-in-right me-2"></i>Acceder</a>
						</li>
						<li class="nav-item">
							<a class="nav-link border border-danger-subtle rounded border-2 pe-3 registro "
								routerLink="/register" (click)="$event.preventDefault()" id="" role="button"><i
									class="bi bi-person-fill-add me-2"></i>Registrarse</a>
						</li>
					</div>
					}

				</ul>
			</div>
		</div>
	</nav>
</div>

<!--  Ojo esto se pondría al final del body y llamando a la función en un button con onclick="toggleTheme()"
	<script>
        function toggleTheme(){
            // let html = document.getElementsByTagName('html')[0];
            let html = document.documentElement;
            if (html.getAttribute('data-bs-theme') === 'dark') {
                html.setAttribute('data-bs-theme', 'light');
            } else {
                html.setAttribute('data-bs-theme', 'dark');
            }
        }
    </script>
-->