body {
    margin: 100;
min-height: 300px;
padding-left: 150px !important;
padding-right: 150px !important;
}

.container {
    max-width: 960px;
}

section article.text h1[data-v-6dfea62d] {
        font-size: 8em;
        margin: 10px 0;
        font-family: Chakra Petch, sans-serif;
        font-weight: 600;
        width: 145%;
        z-index: 10;
        position: relative;
        line-height: 1.05;
        color: rgba(12, 4, 133, 0.75);
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #8197b0;
    border-radius: 20px; 
  }
  .custom-table {
    border-radius: 10px; /* Bordes ovalados */
    overflow: hidden; /* Para asegurar que las esquinas sean redondeadas */
  }
  
  /* Estilos para las celdas de encabezado */
  .custom-table th {
    background: linear-gradient(to bottom, rgb(30, 0, 255));
    color: #170073; /* Color del texto en las celdas de encabezado */
    font-weight: bold; /* Texto en negrita */
    padding: 10px; /* Espaciado interno */
  }
  
  /* Estilos para las celdas de datos */
  .custom-table td {
    background-color: #f0f8ff; /* Fondo de las celdas de datos */
    color: #000; /* Color del texto en las celdas de datos */
    padding: 10px; /* Espaciado interno */
  }

  .btn-custom {
    font-size: 2.9rem; /* Tamaño de fuente más grande */
    padding: 50px 30px;
  }








