<div class="container py-3 background-gradient">
    
  <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal text-body-emphasis"><strong>Listado de Ordenes de Tickets</strong></h1>
          <p class="fs-5 text-body-secondary">Aquí estan las ordenes de los tickets de tu interés</p>
      </div>
  </header>


  @if (showDeletedTicketOrderBuyMessage) {
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <ngb-alert type="success" (closed)="hideDeletedTicketOrderBuyMessage()">Ticket borrado correctamente</ngb-alert>
}


@for (ticketOrderBuy of ticketOrderBuys; track ticketOrderBuy.id) {
  <p class="button-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <table class="table table-bordered table-hover table-info custom-table">
            <tbody>
              <tr class="table-primary">
                <th class="text-center align-middle"><strong>Nombre</strong></th>
                <th class="text-center align-middle"><strong>Datos</strong></th>
              </tr>
              <tr>
              <tr class="table-secondary text center align-middle">
                <th>ID</th>
                <td>{{ticketOrderBuy.id}}</td>
              </tr>
              <tr class="table-secondary">
                <th >Fecha</th>
                <td>{{ticketOrderBuy.date}}</td>
              </tr>
              <tr class="table-secondary">
                <th>Descuento</th>
                <td>{{ticketOrderBuy.discount}}</td>
              </tr>
    <tr class="table-secondary">
                <th>Precio Total</th>
                <td>{{ticketOrderBuy.totalPrice}}</td>
              </tr>
    <tr class="table-secondary">
                <th>Número Máximo</th>
                <td>{{ticketOrderBuy.quantity}}</td>
              </tr>
    <tr class="table-secondary">
                <th>Metodo de pago</th>
                <td>{{ticketOrderBuy.paymentMethod}}</td>
              </tr>
    <tr class="table-secondary">
                <th>Medio de compra</th>
                <td>{{ticketOrderBuy.channel}}</td>
              </tr>
    <tr class="table-secondary">
                <th>Código Qr</th>
                <td>{{ticketOrderBuy.qrUrl}}</td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
    <button class="w-100 btn btn-lg btn-outline-info  p-1 me-3" style="display: block;" [routerLink]="['/ticketOrderBuys', ticketOrderBuy.id, 'detail']">Ver ticketOrderBuy</button>
    @if (isAdmin) {
    <button class="w-100 btn btn-lg btn-outline-primary  p-1 me-3" style="display: block;" [routerLink]="['/ticketOrderBuys', ticketOrderBuy.id, 'update']">Editar ticketOrderBuy</button>
    <button class="w-100 btn btn-lg btn-outline-danger  p-1 me-3" style="display: block;">Borrar ticketOrderBuy</button>
    }
    </div>
} @empty {
  <div class="icon-container bi bi-bag-x container d-flex justify-content-center align-items-center"></div>
  <p class="container d-flex justify-content-center align-items-center"><strong>Whoa! No hay ticketOrderBuys.</strong></p>
  
  }

