<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom" style="color: green;">Listado de Salas</h2>

    <div class="row">
      @if (showDeletedRoomMessage) {
        <ngb-alert type="success" (closed)="hideDeletedRoomMessage()">Sala eliminada de la lista correctamente.</ngb-alert>
      }
    </div>
    <div class="row row-cols-1 row-cols-lg-3 align-itmes-stretch g-4 py-5">
      @for (room of rooms; track room.id) {
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          [style.background-image]="'url(http://localhost:8080/files/'+ room.photoUrl +')'">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{room.name}}</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <i class="bi bi-people-fill fs-5 me-2"></i>
                  {{room.capacity}}
                </li>

                <li class="d-flex align-items-center">
                  <button class="btn btn-primary btn-sm me-2" [routerLink]="['/rooms', room.id, 'detail']">
                    Ver
                    <i class="bi bi-eye ms-2"></i>
                  </button>
                  <button class="btn btn-success btn-sm" [routerLink]="['/rooms', room.id, 'update']">
                    Editar
                    <i class="bi bi-pencil ms-2"></i>
                  </button>
                </li>

              </ul>  
            </div>
          </div>
        </div>
      }

    </div>
</div>
