<div class="container">
  <div class="row">
    <div class="col">
      @if (isUpdate) {
        <h1 style="font-family: 'Libre Franklin';" class="mt-5 mb-5 text-secondary fw-bold">Actualizar Keynote existente con id <span style="border-radius: 0.25rem; color: #fff; background-color: #6c757d; padding:0.25rem 0.4rem; font-size:75%;">{{keynoteForm.get('id')?.value}}</span></h1>
        } @else {
            <h1 style="font-family:'Libre Franklin';" class="mt-5 mb-3 text-secondary fw-bold">Crear Keynote nueva</h1>    
        }
      <form [formGroup]="keynoteForm" (ngSubmit)="save()">

        <input type="hidden">
      
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" formControlName="title">
            <label for="title">Nombre de la charla</label>
          </div>
      
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="summary" formControlName="summary">
            <label for="summary">Resumen de la charla</label>
          </div>
      
          <div class="form-floating mb-3">
            <!-- <input type="text" class="form-control" id="description" formControlName="description"> -->
            <textarea style="height: 150px;" name="description" id="description" formControlName="description" class="form-control" ></textarea>
            <!-- <editor apiKey="an6yimzbx9sabc00sp44jhic59hkpjtruoio7g8rtp375iii"
              [init]="{
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker markdown',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
              }">
            </editor> -->

            <label for="description">Descripción</label>
          </div>
      
          <div class="form-floating mb-3">
              <input class="form-control" type="text" id="webinarUrl" formControlName="webinarUrl">
              <label for="webinarUrl">Imagen (ahora webinar)</label>
          </div>

          <!-- Selector simple -->
          <div class="form-floating mb-3">
            <select class="form-select" id="room" formControlName="room" [compareWith]="compareObjects">
                <option selected disabled>Elegir una sala</option>
              <!-- iterar sobre el array de rooms mostrando cada uno -->
              @for (room of rooms; track room.id) {
                <option [ngValue]="room">{{room.name}}</option>
              }
            </select>
            <label for="room">Sala</label>
          </div>
      
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="maxNumPersons" formControlName="maxNumPersons">
            <label for="maxNumPersons">Número máximo de personas</label>
          </div>
      
          <div class="form-floating mb-3">
            
            <select class="form-select form-select-lg mb-3" formControlName="difficultyLevel">
              <option selected disabled="true">Nivel de dificultad</option>
              <option value="JUNIOR">JUNIOR</option>
              <option value="SEMI_SENIOR">SEMI SENIOR</option>
              <option value="SENIOR">SENIOR</option>
            </select>
            <label for="difficultyLevel">Nivel de dificultad</label>
          </div>
        
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="durationInMin" formControlName="durationInMin">
            <label for="durationInMin">Duración de la charla (min)</label>
          </div>

          <!-- Selector simple -->
          <div class="form-floating mb-3">
            <select class="form-select" id="speaker" formControlName="speaker" [compareWith]="compareObjects">
                <option selected disabled>Elegir un ponente</option>
              <!-- iterar sobre el array de speakers mostrando cada uno -->
              @for (speaker of speakers; track speaker.id) {
                <option [ngValue]="speaker">{{speaker}}</option>
              }
            </select>
            <label for="speaker">Ponente</label>
          </div>

          <!-- Selector simple -->
          <!-- <div class="form-floating mb-3">
            <select class="form-select" id="track" formControlName="track" [compareWith]="compareObjects">
                <option selected disabled>Elegir un track</option>
              @for (track of tracks; track ???.id) {
                <option [ngValue]="track">{{track}}</option>
              }
            </select>
            <label for="track">track</label>
          </div> -->
    
          @if (isUpdate) {
            <button class="btn btn-success" type="submit">Actualizar</button>
            } @else {
            <button class="btn btn-success" type="submit">Crear</button>
            }
        </form>
    </div>
  </div>
</div>


