<div class="container">
  <div class="row">
    <div class="col-lg-8">
      @if (isUpdate) {
        <h1 style="font-family: 'Libre Franklin';" class="mt-5 mb-5 text-secondary fw-bold">Actualizar Charla existente con id <span style="border-radius: 0.25rem; color: #fff; background-color: #6c757d; padding:0.25rem 0.4rem; font-size:75%;">{{keynoteForm.get('id')?.value}}</span></h1>
        } @else {
            <h1 style="font-family:'Libre Franklin';" class="mt-5 mb-3 text-secondary fw-bold">Crear Charla nueva</h1>    
        }
      <form [formGroup]="keynoteForm" (ngSubmit)="save()">

        <input type="hidden">
      
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" formControlName="title">
            <label for="title">Nombre de la charla</label>
          </div>
      
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="summary" formControlName="summary">
            <label for="summary">Resumen de la charla</label>
          </div>
      
          <div class="form-floating mb-3">
            
            <!-- <textarea style="height: 150px;" name="description" id="description" formControlName="description" class="form-control" ></textarea> -->
            <span class="small text-secondary ms-3">Descripción</span>
            <editor apiKey="an6yimzbx9sabc00sp44jhic59hkpjtruoio7g8rtp375iii" formControlName="description"
              [init]="{
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker markdown',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
              }" >
            </editor>
            <!-- <label for="description">Descripción</label> -->
          </div>          
      
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="photo" (change)="onFileChange($event)">
            <label class="input-group-text" for="photoUrl">Subir imagen</label>
          </div>

          <!-- <div class="form-floating mb-3">
              <input class="form-control" type="text" id="webinarUrl" formControlName="webinarUrl">
              <label for="webinarUrl">Imagen (ahora webinar)</label>
          </div> -->

          <!-- Selector simple -->
          <div class="form-floating mb-3">
            <select class="form-select" id="room" formControlName="room" [compareWith]="compareObjects">
                <option selected disabled>Elegir una sala</option>
              <!-- iterar sobre el array de rooms mostrando cada uno -->
              @for (room of rooms; track room.id) {
                <option [ngValue]="room">{{room.name}}</option>
              }
            </select>
            <label for="room">Sala</label>
          </div>
      
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="maxNumPersons" formControlName="maxNumPersons">
            <label for="maxNumPersons">Número máximo de personas</label>
          </div>
      
          <div class="form-floating mb-3">
            <select class="form-select form-select-lg mb-3" formControlName="difficultyLevel">
              <option selected disabled="true">Nivel de dificultad</option>
              <option value="JUNIOR">JUNIOR</option>
              <option value="SEMI_SENIOR">SEMI SENIOR</option>
              <option value="SENIOR">SENIOR</option>
            </select>
            <label for="difficultyLevel">Nivel de dificultad</label>
          </div>
        
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="durationInMin" formControlName="durationInMin">
            <label for="durationInMin">Duración de la charla (min)</label>
          </div>

          <!-- Selector dinámico de speaker -->
          <div class="form-floating mb-3">
            <select class="form-select form-select-lg mb-3 pb-1" formControlName="speaker" [compareWith]="compareObjects">
              <option selected disabled="true">Ponente</option>
              @for (speaker of speakers; track speaker.id) {
                <option [ngValue]="speaker">{{speaker.firstName}}</option>

              }
            </select>
            <label for="speaker">Ponente</label>
          </div>

          <!-- Selector simple -->
          <div class="form-floating mb-3">
            <select class="form-select" id="track" formControlName="track" [compareWith]="compareObjects">
                <option selected disabled>Elegir un track</option>
              @for (track of tracks; track tracks) {
                <option [ngValue]="track">{{track.name}}</option>
              }
            </select>
            <label for="track">track</label>
          </div>

          <!-- <div class="form-floating mb-3 border-form">
            <input type="datetime-local" class="form-control option-int" id="startDate"
              formControlName="startDate" > 
            <label for="startDate">Fecha inicio del Track</label>
          </div>
          <div class="form-floating mb-3 border-form">
            <input type="datetime-local" class="form-control option-int" id="endDate"
              formControlName="endDate"> 
            <label for="endDate">Fecha fin del Track</label>
          </div> -->
    
          @if (isUpdate) {
            <button class="btn btn-success mb-3" type="submit">Actualizar</button>
            } @else {
            <button class="btn btn-success mb-3" type="submit">Crear</button>
            }
        </form>
    </div>
    <div class="col-lg-4">
      @if (photoPreview) {
        <h2 class="my-5 text-secondary mt-5 fw-bold" style="font-family: 'Libre Franklin';">Previsualización foto</h2>
        <img class="img-fluid" [src]="photoPreview">
      }
      @if (!photoPreview && keynote?.photoUrl) {
        <h2 class="my-5 text-secondary mt-5 fw-bold" style="font-family: 'Libre Franklin';">Previsualización foto</h2>
        <img class="img-fluid" [src]="'http://localhost:8080/files/' + keynote?.photoUrl">
      }
    </div>
  </div>
</div>


