.full-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 2em;
    font-family: 'Urbanist', sans-serif;
    color: #001aff;
}

.form-page {
    margin-top: 0;
    text-align: center;
}

body {
    text-align: center;
}
.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button-container .btn {
    margin: 0 5px 0;
}