body {
    margin: 100;
min-height: 300px;
padding-left: 150px !important;
padding-right: 150px !important;
}

.container {
    max-width: 960px;
}

section article.text h1[data-v-6dfea62d] {
        font-size: 8em;
        margin: 10px 0;
        font-family: Chakra Petch, sans-serif;
        font-weight: 600;
        width: 145%;
        z-index: 10;
        position: relative;
        line-height: 1.05;
        color: rgba(12, 4, 133, 0.75);
}