<hr>

<div class="full-screen">
    <p>Bienvenido al listado de tickets</p>
</div>

@if (showDeletedTicketMessage) {
  <!--<ngb-alert type="success" [dismissible]="false">Libro borrado correctamente</ngb-alert>-->
  <ngb-alert type="success" (closed)="hideDeletedTicketMessage()">tikect borrado correctamente</ngb-alert>
}

@for (ticket of tickets; track ticket.id) {
  <p class="button-container">
    {{ticket.id}} {{ticket.title}} {{ticket.username}} {{ticket.maxNum}}
    <button class="btn btn-info" [routerLink]="['/tickets', ticket.id, 'detail']">Ver detalle ticket</button>
    <button class="btn btn-success" [routerLink]="['/tickets', ticket.id, 'update']">Editar ticket</button>
    <button class="btn btn-danger" (click)="delete(ticket)">Borrar ticket</button>
  </p>
} @empty {
  <p>No hay tickets.</p>
}