<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom text-gradiente ">Detalles de la Sala</h2>

  @if (room) {
  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">{{room.name}}</h2>
      <img [src]="'http://localhost:8080/files/' + room.photoUrl" alt="room" class="img-fluid rounded-4">
      
      <p class="text-body-secondary">Pequeña descripción de esta maravillosa sala donde celebrar ponencias tecnológicas,
        equipada con las mejores butacas, ideales para no perder detalle o para echar un sueñecito.</p>
      @if (isAdmin) {
      <a href="#" class="btn btn-primary" [routerLink]="['/rooms', room.id, 'update']">Editar Sala</a>
      }
    </div>
    

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi bi-people-fill fs-2"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Aforo máximo</h4>
          <p class="text-body-secondary">{{room.capacity}} personas.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            @if (room.hasSockets) {
            <i class="bi bi-lightning-charge-fill text-success"></i>
            } @else {
            <i class="bi bi-lightning-charge-fill text-danger"></i>
            }
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Tomas de corriente individuales</h4>
          <p class="text-body-secondary">
            @if (room.hasSockets) {
            Instalación con enchufes.
            } @else {
            Instalación sin enchufes.
            }
          </p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi bi-hand-thumbs-up-fill"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Asientos reclinables</h4>
          <p class="text-body-secondary">Disposición de palanquetas de ajuste de asiento reclinable de hasta 30 grados
            adicionales con la vertical.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div
            class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
            <i class="bi bi-volume-up-fill"></i>
          </div>
          <h4 class="fw-semibold mb-0 text-body-emphasis">Sonido Envolvente</h4>
          <p class="text-body-secondary">Sonido surround de calidad, tanto en el audio de ponencias como multimedia
            distribuido equipotencialmente por todos los rincones de la sala, es un tipo de sonido multicanal que rodea
            al oyente.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <marquee style="font-size: larger; color: #1865e1;" width="600" scrollamount="400" scrolldelay="2000">
    🥳🤔😁😀🫣 Aquí puedes ver todas las charlas que se imparten en esta sala...
  </marquee>
  <hr>
  
    @if (this.keynotes && keynotes.length > 0) {
    <div class="container-fluid">
      <div class="px-lg-5">
  
  
        <div class="row">
          <!-- Gallery item -->
          @for (keynote of keynotes; track keynote.id) {
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div style="box-shadow: 0px 0px 5px #ccc !important; overflow:hidden;" class="bg-white rounded shadow-sm"><img
                [src]="'http://localhost:8080/files/' + keynote.photoUrl"
                [routerLink]="['/keynotes', keynote.id, 'detail']" style="cursor: pointer;" alt=""
                class="img-fluid card-img-top zoom">
              <div class="p-4">
                <h5><a [routerLink]="['/keynotes', keynote.id, 'detail']" class="text-secondary"
                    style="text-decoration: none; font-weight: bold; font-family: 'Libre Franklin'">{{keynote.title}}</a>
                </h5>
                <p class="small text-muted mb-0">{{keynote.summary}}</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-3 mb-2">
                  <p class="small mb-0"><i class="bi bi-easel-fill me-2 text-primary"></i><span class="font-weight-bold"
                      style="color: deeppink;">Sala</span></p>
                  <span routerLink="/rooms"
                    style="font-size: small; font-weight:400; cursor: pointer;">{{keynote.room.name}}</span>
                </div>
                <!--
                            <button style="cursor: auto;" type="button" class="btn mt-2"
                                data-mdb-ripple-init><i
                                    class="bi bi-people-fill me-2 text-secondary"></i><span
                                    class="small text-secondary" >Capacidad</span><span
                                    class="badge text-bg-danger ms-2">{{keynote.maxNumPersons}}</span>
                            </button>
                            <div
                                class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-3">
                                <p class="small mb-0"><i
                                        class="bi bi-bar-chart-fill me-2 text-secondary"></i>Dificultad</p>
                                <div
                                    class="badge badge-{{keynote.difficultyLevel}} px-3 rounded-pill font-weight-normal">
                                    {{keynote.difficultyLevel}}</div>
                            </div>
                                -->
                <div class="d-flex align-items-center justify-content-start px-3 py-2 mt-2">
                  <span class="font-weight-bold small me-1"><i class="bi bi-alarm me-2 text-secondary"></i>Duración</span>
                  <p class="spinner-grow text-light mb-0"><span
                      class="ms-1 fs-6 text-primary fw-bold">{{keynote.durationInMin}}</span>
                  </p><span class="font-weight-bold small ms-1">min</span>
                </div>
              
                            @if(keynote.track) {
                            <div
                                class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-3 mb-2 ">
                                <p class="small mb-0"><i
                                        class="bi bi-calendar-date-fill text-secondary me-2"></i>Fecha</p>
                                <div class="badge text-bg-danger">{{keynote.track.startDate | date:
                                    'dd/MM/yy'}}</div>
                            </div>
                            }
                        
                <div style="text-align: center;">
                  <button data-bs-toggle="tooltip" data-bs-title="Ver"
                    style="font-weight: bold; background-color: #3a7ae2d3;" class="btn btn-primary btn-sm "
                    [routerLink]="['/keynotes', keynote.id, 'detail']">Ver charla</button>
  
                </div>
              </div>
            </div>
          </div>
          }
          <!-- End -->
        </div>
  
  
      </div>
    </div>
    }
  
  
  
    @else {
    <h4 style="background-color: #de2c5b;">No hay charlas asociadas a esta sala</h4>
    }
  


  }


</div>

