<div class= "card pricing-header p-5 pb-lg-7 mx-5 my-3 text-center">
    
    <header>
        <div class="pricing-header p-3 pb-md-5 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis text-primary"><strong> Formulario de Entradas</strong></h1>
            <p class="fs-5 text-body-secondary">Te encuentras en la sección de editar o crear la información de los tickets </p>
        </div>
    </header>

    <hr>
    
<div class="card pricing-header p-3 pb-lg-3 mx-5 my-3 text-center bg-light">
    <div class="row">
        <div class="container d-flex justify-content-center align-items-start my-3">
            <!-- Imagen PNG -->
            <img src="/assets/Ticket/c.png" alt="Conectando mentes creando futuro" class="img-fluid w-50 me-3">
            
        <div class="col d-flex justify-content-center align-items-center">
            <form [formGroup]="ticketForm" (ngSubmit)="save()">
                <label for="text" class="form-label text-primary"><strong>Nombre de Ticket</strong></label>
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="title" placeholder="ticket" formControlName="title">
                    <label for="title">Escribe el nombre del ticket </label>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label text-primary"><strong>Precio Ticket</strong></label>
                    <select id="price" class="form-select" formControlName="price">
                        <option value="50">Día 1:  50€</option>
                        <option value="50">Día 2:  50€</option>
                        <option value="100">Día 1 y 2:  100€</option>
                    </select>
                </div>
                <label for="price" class="form-label text-primary"><strong>Selecciona el número de tickets</strong></label>
                <div class="form-floating mb-1">
                    <input type="number" class="form-control" id="maxNum" placeholder="Número máximo de tickets" formControlName="maxNum" min="1" max="15">
                    <label for="maxNum">Número máximo de tickets (10)</label>
                </div>
                <div class="d-flex">
                    <button type="submit" class="w-100 btn btn-lg btn-outline-primary  p-1 me-5" style="display: block;">Crear </button>
                    <button type="submit" class="w-100 btn btn-lg btn-outline-primary  p-1 me-" style="display: block;">Actualizar </button>
                   
                </div>

            </form>
        </div>
    </div>
</div>