<div class="container py-3 background-gradient">
    
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis text-primary"><strong>Formulario de Tickets</strong></h1>
            <p class="fs-5 text-body-secondary">Edita o actualiza la información de los tickets</p>
        </div>
    </header>

    <hr>
<div class="form-page">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center">
            <form [formGroup]="ticketForm" (ngSubmit)="save()">
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="title" placeholder="ticket" formControlName="title">
                    <label for="title">Ticket de evento</label>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio</label>
                    <select id="price" class="form-select" formControlName="price">
                        <option value="50">Día 1 - €50</option>
                        <option value="50">Día 2 - €50</option>
                        <option value="100">Día 1 y 2 - €100</option>
                    </select>
                </div>
                <div class="form-floating mb-1">
                    <input type="number" class="form-control" id="maxNum" placeholder="Número máximo de tickets" formControlName="maxNum" min="1" max="10">
                    <label for="maxNum">Número máximo de tickets (15)</label>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>
</div>
