.background-gradient {
    background: linear-gradient(to to right, #104ba8, #2f6ac9, #4184da, #69a8f9);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}