
<div class="container">
  <div class="row">
    <div class="col-lg-8">

      @if (isUpdate) {
        <h1 style="font-family: 'Libre Franklin';" class="mt-5 mb-5 text-secondary fw-bold">Vas a editar el usuario/a existente con Id <span style="border-radius: 0.25rem; color: #fff; background-color: #6c757d; padding:0.25rem 0.4rem; font-size:75%;">{{userForm.get('id')?.value}}</span></h1>
      } @else {
        <h1 style="font-family: 'Libre Franklin';" class="mt-5 bm-5 text-secondary fw-bold">Vas a crear un nuevo usuario/a</h1>
      }

        <form [formGroup]="userForm" (ngSubmit)="save()">

          <input type="hidden" formControlName="id">

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
            <label for="firstName">Nombre</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
            <label for="lastName">Apellido</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="address" formControlName="address">
            <label for="addres">Dirección</label>
          </div>

          <!--<div class="form-floating mb-3">
            <input type="text" class="form-control" id="email" formControlName="email">
            <label for="email">Email</label>
          </div>-->

          <div class="form-floating mb-3">
            <input type="phone" class="form-control" id="phone" formControlName="phone" maxlength="9">
            <label for="phone">Teléfono de contacto</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="userName" formControlName="userName">
            <label for="userName">Nombre de usuario</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" formControlName="password" maxlength="30" minlength="8" >
            <label for="password">Contraseña</label>
          </div>

          <div class="input-group mb-3">
            <input type="file" class="form-control" id="photo" (change)="onFileChange($event)">
            <label class="input-group-text" for="photoUrl">Imagen de usuario</label>
          </div>

          <div class="form-floating mb-3">
            <select class="form-select" id="userRole" formControlName="userRole">
              <option value="USER">Usuario/a</option>
              <option value="ADMIN">Administrador/a</option>
            </select>
            <label for="userRole">Tipo de usuario/a</label>
          </div>

          <!-- @if (isUpdate) {
          } @else {} 
        -->

          @if (isUpdate) {
            <button class="btn btn-success mb-3" type="submit">Actualizar</button>
          } @else {
            <button class="btn btn-success mb-3" type="submit">Crear</button>
          }
        </form>
    </div>
    <div class="col-lg-4">
      @if (photoPreview) {
        <h3 class="my-5 text-secondary mt-5 fw-bold" style="font-family: 'Libre Franklin';">Previsualización: <br> Imagen de usuario/a</h3>
        <img class="img-fluid rounded-4 " [src]="photoPreview">
      }
      @if (!photoPreview && user?.photoUrl) {
        <h3 class="my-5 text-secondary mt-5 fw-bold" style="font-family: 'Libre Franklin';">Previsualización: <br> Imagen de usuario/a</h3>
        <img class="img-fluid rounded-4 " [src]="'http://localhost:8080/files/' + user?.photoUrl">
      }
    </div>
  </div>
</div>
