
@if (showCreateTicketMessage) {
    <ngb-alert [type]="'info'" class="alert alert-success centered-alert" role="alert" (closed)="showCreateTicketMessage = false">
      ¡Ticket creado o actualizado extiosamente!
    </ngb-alert>
  }
  
  @if (showUpdateTicketMessage) {
    <ngb-alert [type]="'info'" class="alert alert-success" role="alert" (closed)="showUpdateTicketMessage = false">
      ¡Ticket actualizado correctamente!
    </ngb-alert>
  }
  
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis"><strong>Entrada </strong></h1>
            <p class="fs-5 text-body-secondary">Esta en la sección para ver cada detalle del ticket. </p>
        </div>
    </header>

    <main>
        <div class="card pricing-header p-3 pb-lg-7 mx-5 my-3 text-center bg-light">
            <p class="fs-5 text-body-secondary">¿Necesitas modificar tu ticket para el evento? </p>
        
        
                <div class="container d-flex align-items-start ">
                    <!-- Imagen PNG -->
                    <img src="/assets/Ticket/4itech.png" alt="Conectando mentes creando futuro" class="img-fluid w-20 me-3">
           
                <div class="card mb-4 rounded-3 shadow-sm w-100" >
                    <div class="card-header py-3" >
                        <h4 class="my-0 fw-normal text-primary"><strong><Tbody></Tbody> Entrada / {{ ticket?.title}} </strong></h4>
                    </div>

                    @if (ticket) {
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"> {{ ticket.id }} <small class="text-body-secondary fw-light"> ✺ </small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                                
                                <p>
                                    <span class="badge bg-primary" style="font-size: large;">
                                        <i class="fas fa-glass-cheers"></i>
                                    </span>
                                    <label><strong> Precio: </strong></label>
                                        
                                    <span class="badge bg-primary" style="font-size: large;">
                                        <strong>  {{ ticket.price }} €</strong>
                                    </span>
                                </p>
                                <button type="button" class="w-100 btn btn-lg btn-outline-primary" [routerLink]="['/tickets', ticket.id, 'update']">Editar Ticket</button>    

                        </ul>
                    </div>
                }
                </div>
            </div>
        </div> 
    </main>
    



