.form-page {
    display: flex;
    justify-content: center;
    min-height: 0vh;
}
.my-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}
.full-screen {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 10vh;
    font-size: 2em;
    font-family: 'Urbanist', sans-serif;
    color: #0b842a;
}
.form-page {
margin-top: 0;
}

.badge-line {
    border: none;
    text-decoration: underline;
    padding: 10;
    cursor: pointer; /* Opcional, agrega un cursor al pasar sobre el badge */
}

.background-gradient {
    background: linear-gradient(to bottom, rgb(0, 55, 255), rgba(0, 255, 229, 0.4), rgba(255, 132, 0, 0.4), rgba(255, 0, 0, 0.699));
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
