/* Centrar elementos en la página de formulario */
.form-page {
    display: flex;
    justify-content: center;
    align-items: center; /* Alineación vertical */
    height: 100vh; /* Altura de la página */
}

/* Espaciado vertical de 20px */
.margin-y-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para pantalla completa */
.full-screen {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 10vh;
    font-size: 2em;
    font-family: 'Urbanist', sans-serif;
    color: #0b842a;
}

/* Estilos para el badge-line */
.badge-line {
    border: none;
    text-decoration: underline;
    padding: 10px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el badge */
}

/* Estilos para el fondo degradado */
.background-gradient {
    background: linear-gradient(to right, #104ba8, #2f6ac9, #4184da, #69a8f9);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 80%; /* Puedes ajustar el ancho según tus necesidades */
    margin: auto;
    margin-top: 50px;
}

/* Estilos para alertas centradas */
.centered-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    padding: 2rem 6rem;
    border-radius: 0.255rem;
    z-index: 99; /* Asegúrate de que el z-index sea coherente con otros elementos */
}
