<div class="form-page">

    <div class="row">
        <div class="col d-flex flex-column justify-content-start align-items-start my-margin">

@if (ticket) {
    <p><span class="badge bg-secondary" style="font-size: large;"></span>
        {{ticket.id}} <span class="badge bg-secondary" style="font-size: large;"></span>
        {{ticket.title}} <span class="badge bg-secondary" style="font-size: large;"></span>
        {{ticket.username}} <span class="badge bg-secondary" style="font-size: large;">
            {{ticket.price}}€</span><span class="badge bg-secondary" style="font-size: large;"></span>
            {{ticket.maxNum}}<span class="badge bg-secondary" style="font-size: large;"></span></p>
    <button class="btn btn-success" [routerLink]="['/tickets',ticket.id,'update']">Editar Ticket</button>

    
}