.form-page {
    display: flex;
    justify-content: center;
    min-height: 0vh;
}
.my-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}
.full-screen {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 10vh;
    font-size: 2em;
    font-family: 'Urbanist', sans-serif;
    color: #0b842a;
}
.form-page {
margin-top: 0;
}

.badge-line {
    border: none;
    text-decoration: underline;
    padding: 10;
    cursor: pointer; /* Opcional, agrega un cursor al pasar sobre el badge */
}

.background-gradient {
    background: linear-gradient(to right, #2f5fab, #4b70e1, #5498f2, #31b4c8);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.centered-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    padding: 2rem 6rem;
    border-radius: 0.255rem;
    z-index:99;
}
