

<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <h1 class="my-5">Avatar de perfil</h1>

      <form>

        <div class="input-group mb-3">
          <input type="file" class="form-control" id="photo" (change)="onFileChange($event)">
          <button class="btn btn-outline-secondary" type="button" id="photoBtn">Button</button>
        </div>

        <button class="w-100 btn btn-primary btn-lg mb-5 mt-5" type="button" (click)="save()">Subir avatar</button>

      </form>

    </div>
    <div class="col-lg-4">

      @if (photoPreview) {
        <h2 class="my-5">Nuevo avatar a subir</h2>
        <img class="img-fluid  rounded-4 mb-5" [src]="photoPreview">
      }
      @if (!photoPreview && user?.photoUrl) {
        <h2 class="my-5">Avatar existente</h2>
        <img class="img-fluid rounded-4 mb-5 " [src]="'http://localhost:8080/files/' + user?.photoUrl">
      }

    </div>
  </div>
</div>
