.text-gradiente {

    background: linear-gradient(to right, #e3c9b6, #d8363a, #dd3675, #b44593);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

table {
    background-color: #f1f1f1; /* Color de fondo para toda la tabla  */


}
tr:nth-child(even) {
    background-color: #5890ea; /* Color de fondo para filas alternas */
}
td {
    background-color: #f0f0f0; /* Color de fondo para celdas */
}
td {
    box-shadow: 2px 2px 5px #969696; /* Sombra en las celdas */
    border: 1px solid #4d4d4d; /* Borde en las celdas */
    border-radius: 10px;
    border-style: ridge;
}