  <div class="container-fluid">
    <div class="px-lg-5">
  
      <!-- For demo purpose -->
      <div class="row py-5">
        <div class="col-lg-12 mx-auto">
          <div class="text-white p-5 shadow-sm rounded banner">
            <!-- Search form -->
                <form class="form-inline waves-light" mdbWavesEffect>
                  <div class="md-form mt-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
                  </div>
                </form>
            <h1 class="display-4">Charlas recientes en 4iTech</h1>
            <p class="lead">Descubre nuestras charlas y no te piedas detalle.</p>
            <p class="lead">Patrocinado por <a href="https://formacion.adecco.com" class="text-reset"> 
                          Adecco</a>, en colaboración con <a href="https://certidevs.com" class="text-reset">Certidevs</a>.
            </p>
          </div>
        </div>
      </div>
      <!-- End -->
  
      @if (showDeleteKeynoteMessage) {
        <ngb-alert type="success" (closed)="hideDeleteKeynoteMessage()">Keynote borrado correctamente</ngb-alert>
      }
      <div class="row">
        <!-- Gallery item -->
        @for (keynote of keynotes; track keynote.id) {
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div style="box-shadow: 0px 0px 5px #ccc !important; overflow:hidden;" class="bg-white rounded shadow-sm"><img src="{{keynote.webinarUrl}}" [routerLink]="['/keynotes', keynote.id, 'detail']" style="cursor: pointer;" alt="" class="img-fluid card-img-top zoom">
            <div class="p-4">
              <h5> <a [routerLink]="['/keynotes', keynote.id, 'detail']" class="text-dark">{{keynote.title}}</a></h5>
              <p class="small text-muted mb-0">{{keynote.summary}}</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Dificultad</span></p>
                <div class="badge badge-danger px-3 rounded-pill font-weight-normal">JUNIOR</div>
              </div>
              <div style="text-align: center;">
                <button style="font-weight: bold;" class="btn btn-primary btn-sm mt-3 me-3" [routerLink]="['/keynotes', keynote.id, 'detail']">Ver</button>
                <button style="font-weight: bold;" class="btn btn-success btn-sm mt-3 ms-3 me-3" [routerLink]="['/keynotes', keynote.id, 'update']">Editar</button>
                <button style="font-weight: bold" class="btn btn-danger btn-sm ms-3 mt-3" (click)="delete(keynote)">Borrar</button>
              </div>
            </div>
          </div>
        </div>
        }
        <!-- End -->
      </div>
        
      <div class="py-5 text-right"><a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Mostrar más</a></div>
    </div>
  </div>
