@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos del banner del keynote-list (gradiente) y del background del body */
.container-fluid {
    background: #f4f4f4;
  }

.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }
h1.display-4 {
    font-family: 'Libre Franklin', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
/* Estiilos para los botones de ver, editar y archivar las keynotes */
.btn-ver {
background-color: #62AFFE;
color: white;
border: none;
}
.btn-editar {
background-color: #49CC90;
border:none;
}
.btn-archivar {
background-color: #F93E3F;
border:none;
}

/* Estilos para los badges según niveles de difucultad */
.badge-JUNIOR {
    background-color: #0fb007f1;
}
.badge-SENIOR {
    background-color: #b8310fe0;
}
.badge-SEMI_SENIOR {
    background-color: #1044bd;
}

/* Reduciendo margen superior e inferior del banner superior de la home de keynotes */
.py-5 {
padding-top: 2rem !important;
padding-bottom: 2rem !important;
}

/* estilos del search form */
.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
  }
  .search-click:focus {
    width: 300px;
    padding-left: 50px;
  }
  .search-click {
    /* position: relative; */
    overflow: hidden;
    height: 50px;
  }
  .search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    /* position: absolute; */
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
  }
 .search-form{
    position: absolute;
    right: 4rem;
    top: 8rem;
 }
 

/* efecto de agrandar las imágenes del grid un 10% */
img.zoom {
    transition: 0.4s ease;
}
img.zoom:hover {
    transform: scale(1.1);
}
/* frenar la velocidad de crecimiento del spinner-grow */
.spinner-grow {
  --bs-spinner-animation-speed: 0.99s;
}