@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

.registro {
          /* fallback for old browsers */
          background: #c48b45;
          
        
          /* Chrome 10-25, Safari 5.1-6 */
          background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        
          
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

          font-family: 'Libre Franklin';

}

/* Estilos para el video */
/* .vid-wrapper {
    position: relative;
    width: 100%;
}
.vid-wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: radial-gradient(
      circle at 36% 48%,
      #000000,
      rgba(11, 39, 65, 0.32) 87%,
      rgba(0, 0, 0, 0)
    );
  } */
  
  video {
    width: 100%;
    height: 100%;
  }
  
  .vid-container {
    position: relative;
    width: 840px;
    height: 272px;
    overflow: hidden;
  }
  
  .video-cover video {
    object-fit: cover;
  }
  /* Estilos del boton ticket */
  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #1e5be8;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #4f8cef, #4b70e1, #5498f2, #31b4c8);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #4f8cef, #4b70e1, #5498f2, #31b4c8);
    }