<div class="video-cover vid-container">
  <video autoplay loop muted>
    <source src="assets/videos/4itech_v1.mp4" type="video/mp4" />
  </video>
</div>

<main class="container mt-4">
  <div class="row g-5">
    <div class="col-md-8 me-0 ms-0 pe-0 ps-0">
      <div class="col-md-6 float-end ps-2">
        <!-- Carousel inmóvil -->
        <div
          id="carouselExampleControlsNoTouching"
          class="carousel slide"
          data-bs-touch="true"
          style="
            border-top: 8px solid rgba(233, 181, 12, 0.944);
            border-radius: 5px;
          "
        >
          <div class="carousel-inner">
            <div class="carousel-item active" style="max-height: 250px">
              <img
                src="assets/keynotes/speakers_panel.jpeg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            style="display: none"
            type="button"
            data-bs-target="#carouselExampleControlsNoTouching"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            style="display: none"
            type="button"
            data-bs-target="#carouselExampleControlsNoTouching"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- fin Carousel inmóvil -->
        <!-- Ponentes estáticos -->
        <div
          class="p-3 mb-3"
          style="
            background-color: #f9f8f8;
            box-shadow: 0 0 3px rgb(196, 196, 196);
          "
        >
          <h5
            class="fw-bold mb-2"
            style="color: rgba(59, 113, 179, 0.684); text-transform: uppercase"
          >
            Nuestros Ponentes
          </h5>
          <div class="card mb-3" style="max-width: 520px; border: none">
            <div class="row g-0">
              <div
                class="col-md-3"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <img
                  class="rounded-circle shadow-1-strong"
                  style="width: 80px; height: 80px; object-fit: cover"
                  src="assets/keynotes/speaker1.jpeg"
                />
              </div>
              <div class="col-md-8" style="border-left: 1px solid #e6e6e6">
                <div class="card-body">
                  <h6
                    class="card-title text-secondary fw-bold"
                    style="font-family: 'Libre Franklin'"
                  >
                    Marta García Martín
                  </h6>
                  <p class="card-text small text-secondary">
                    Con más de 20 años en la industria tecnológica
                  </p>
                  <span class="card-text"
                    ><small class="text-body-tertiary"
                      >Chief Digital Officer, BBVA</small
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 520px; border: none">
            <div class="row g-0">
              <div
                class="col-md-3"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <img
                  class="rounded-circle shadow-1-strong"
                  style="width: 80px; height: 80px; object-fit: cover"
                  src="assets/keynotes/speaker2.jpeg"
                />
              </div>
              <div class="col-md-8" style="border-left: 1px solid #e6e6e6">
                <div class="card-body">
                  <h6
                    class="card-title text-secondary fw-bold"
                    style="font-family: 'Libre Franklin'"
                  >
                    Paloma Fanjul
                  </h6>
                  <p class="card-text small text-secondary">
                    Cofundadora de Elisenda, una empresa de ciberseguridad.
                  </p>
                  <span class="card-text"
                    ><small class="text-body-tertiary"
                      >Cofundadora y CEO, Elisenda</small
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 520px; border: none">
            <div class="row g-0">
              <div
                class="col-md-3"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <img
                  class="rounded-circle shadow-1-strong"
                  style="width: 80px; height: 80px; object-fit: cover"
                  src="assets/keynotes/speaker4.jpeg"
                />
              </div>
              <div class="col-md-8" style="border-left: 1px solid #e6e6e6">
                <div class="card-body">
                  <h6
                    class="card-title text-secondary fw-bold"
                    style="font-family: 'Libre Franklin'"
                  >
                    Francesc Homs
                  </h6>
                  <p class="card-text small text-secondary">
                    Fundador y líder de Factorial, una startup de tecnología de
                    RRHH
                  </p>
                  <span class="card-text"
                    ><small class="text-body-tertiary"
                      >Cofundador y CEO, Factorial</small
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin ponentes estático -->
      </div>

      <div class="col-md-6 pe-2">
        <!-- Carusel de comentarios adyacente a las fotos -->
        <div
          id="carouselExampleRide"
          class="carousel slide"
          data-bs-ride="true"
          style="
            border-top: 8px solid rgba(2, 147, 220, 0.944);
            border-radius: 5px;
          "
        >
          <ngb-carousel class="" [interval]="15000">
            @for (keynote of keynotes; track keynote) { @for (comment of
            comments; track comment.id) {
            <ng-template ngbSlide>
              <div class="carousel-inner">
                <div class="carousel-item active" style="max-height: 250px">
                  <img
                    [src]="'http://localhost:8080/files/' + keynote?.photoUrl"
                    class="d-block w-100"
                    alt="{{ keynote.title }}"
                  />
                </div>
              </div>

              <div
                class="row p-3 mb-3"
                style="
                  background-color: #f9f8f8;
                  box-shadow: 0 0 4px rgb(196, 196, 196);
                "
              >
                <h5
                  class="fw-bold mb-0"
                  style="
                    color: rgba(59, 113, 179, 0.684);
                    text-transform: uppercase;
                  "
                  [routerLink]="['/keynotes', keynote.id, 'detail']"
                >
                  {{ keynote.title }}
                </h5>
                <span class="small text-body-tertiary"
                  >by {{ keynote.speaker.firstName }} |
                  {{ keynote.track.startDate | date : "dd MMM yyyy" }} |
                  <ngb-rating
                    [(rate)]="comment.rating"
                    [max]="5"
                    [readonly]="true"
                    formControlName="rating"
                  >
                    <ng-template let-fill="fill" let-index="index">
                      <i
                        class="fs-5 bi-star{{ fill === 100 ? '-fill' : '' }}"
                        style="color: rgb(222, 191, 39); margin: 4px"
                      ></i>
                    </ng-template> </ngb-rating
                ></span>
                <br />
                <span class="text-light-emphasis fw-lighter fst-italic mt-2">{{
                  comment.opinion
                }}</span>
              </div>
            </ng-template>
            } }
          </ngb-carousel>

          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
        <!-- fin del carusel de comentarios adyancete a fotos -->
        <ul class="p-0" style="list-style: none; box-shadow: 0 0 3px #ccc">
          <ngb-carousel class="" [interval]="12000">
            @for (keynote of keynotes; track keynote) {
            <ng-template ngbSlide>
              <li class="p-3" style="border-bottom: 1px solid #ededed">
                <img
                  [src]="'http://localhost:8080/files/' + keynote?.photoUrl"
                  [routerLink]="['/keynotes', keynote.id, 'detail']"
                  class="float-start pe-2"
                  style="max-width: 70px"
                  alt=""
                />
                <h6 class="mb-0 text-secondary fw-bold">{{ keynote.title }}</h6>
                <span class="small text-body-tertiary"
                  >Por {{ keynote.speaker.firstName }} |
                  {{ keynote.track.startDate | date : "dd MMM yyyy" }}</span
                >
                <br />
                <span class="text-secondary fw-lighter-emphasis"
                  >
                  {{ keynote.summary }}</span
                >
                <br />
                <span class="small text-body-tertiary">Descripción:</span>
                <br />
                <span class="text-secondary fw-lighter" [innerHTML]="keynote.description | shortText"></span>
                <!-- <br />
                <hr class="text-light" />
                <span class="small text-body-tertiary"
                  >{{ comment.user?.firstName }} |
                  {{ comment.dateTime | date : "dd MMM yyyy" }} |
                  <ngb-rating
                    [(rate)]="comment.rating"
                    [max]="5"
                    [readonly]="true"
                    formControlName="rating"
                  >
                    <ng-template let-fill="fill" let-index="index">
                      <i
                        class="bi-star{{ fill === 100 ? '-fill' : '' }}"
                        style="color: rgb(222, 191, 39); margin: 4px"
                      ></i>
                    </ng-template> </ngb-rating
                ></span> -->
              </li>
            </ng-template>
            }
          </ngb-carousel>
        </ul>
      </div>

      <article class="blog-post mt-3" style="display: inline-block">
        <!-- sección tecnologías usadas -->
        <div class="text-emphasys mt-5">
          <h3 class="fw-bold text-secondary mb-4" style="font-family: 'Libre Franklin'">Tecnologías Utilizadas para el desarrollo de &commat;4iTECH</h3>
          <img
            src="assets/img/Tecnologias.png"
            class="img-fluid"
            alt="Imagen de tecnologias"
          />
        </div>
        <!-- fin sección tecnolgías usadas -->

        <hr class="text-body-tertiary mb-4" />

        <!-- sección navbar -->
        <ul
          ngbNav
          #nav="ngbNav"
          class="nav-tabs mt-3"
          style="font-family: 'Libre Franklin'"
        >
          <li [ngbNavItem]="1">
            <button
              ngbNavLink
              class="fw-bold text-secondary fs-5"
              style="
                font-family: 'Libre Franklin';
                border-top: 6px solid rgba(1, 108, 238, 0.464);
              "
            >
              Quienes Somos
            </button>
            <ng-template ngbNavContent>
              <p class="fw-lighter" style="font-size: 1.1rem">
                <span class="text-secondary fw-bolder">&commat;4iTech</span> somos un
                grupo de programadores que nace bajo los auspicios de
                <a class="text-secondary fw-bold" href="www.adecco.com"
                  >Fundación Adecco</a
                >
                y de la mano de nuestro profesor y mentor, Alan Sastre, CEO de
                <a class="text-secondary fw-bold" href="www.certidevs.com"
                  >Certidevs</a
                >, con el objetivo de ofrecer recursos y contenidos dedicados a
                la formación profesional. Organizamos eventos presenciales,
                online e híbridos cuya finalidad es fomentar el intercambio de
                ideas, la colaboración y el networking en un entorno donde todas
                las personas puedan expresarse libremente y sentirse cómodas.
              </p>
              <div class="col-lg-5 float-end ms-3">
                <h4 class="text-secondary fw-lighter ms-2">
                  Algunas de nuestras charlas
                </h4>
                <ngb-carousel [interval]="9000">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img
                        src="assets/keynotes/AI.png"
                        class="border border-5 border-light-subtle rounded img-fluid card-img-top object-fit-cover zoom"
                        alt="Random first slide"
                      />
                    </div>
                    <div class="carousel-caption">
                      <h3></h3>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img
                        src="assets/keynotes/big_data.png"
                        class="border border-5 border-light-subtle rounded img-fluid card-img-top object-fit-cover zoom"
                        alt="Random second slide"
                      />
                    </div>
                    <div class="carousel-caption">
                      <h3></h3>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img
                        src="assets/keynotes/UX.png"
                        class="border border-5 border-light-subtle rounded img-fluid card-img-top object-fit-cover zoom"
                        alt="Random third slide"
                      />
                    </div>
                    <div class="carousel-caption">
                      <h3></h3>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img
                        src="assets/keynotes/cibersecurity.png"
                        class="border border-5 border-light-subtle rounded img-fluid card-img-top object-fit-cover zoom"
                        alt="Random fourth slide"
                      />
                    </div>
                    <div class="carousel-caption">
                      <h3></h3>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img
                        src="assets/keynotes/blockchain.png"
                        class="border border-5 border-light-subtle rounded img-fluid card-img-top object-fit-cover zoom"
                        alt="Random fourth slide"
                      />
                    </div>
                    <div class="carousel-caption">
                      <h3></h3>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
              <p class="fw-lighter" style="font-size: 1.1rem">
                Nuestra <span class="text-secondary fw-bolder">VISIÓN</span> es
                creer que todos podemos construir un futuro mejor a través de la
                tecnología. En ese futuro, la tecnología es una herramienta
                universal para el progreso de la sociedad.
              </p>
              <p class="fw-lighter" style="font-size: 1.1rem">
                La <span class="text-secondary fw-bolder">MISIÓN</span> de
                <span class="text-secondary fw-bolder">&commat;4iTech</span> es promover
                la innovación a través de la creación de una comunidad
                tecnológica que tenga un impacto positivo en la sociedad. Usamos
                los <span class="fst-italic">eventos</span> y las
                <span class="fst-italic">charlas</span> como catalizadores del
                cambio a través del fomento de la innovación, la construcción de
                una comunidad tecnológica y resolviendo problemas sociales que
                mejoren la calidad de vida de las personas.
              </p>
              <p class="fw-lighter" style="font-size: 1.1rem">
                En resumen, en
                <span class="text-secondary fw-bolder">&commat;4iTech</span> aspiramos a
                ser una fuerza impulsora para un futuro mejor potenciado por la
                tecnología, donde todos tengan la oportunidad de prosperar y
                contribuir positivamente a la sociedad.
              </p>
              <p
                class="fw-lighter"
                style="
                  font-size: 1.1rem;
                  border-bottom: 1px solid #f3f3f3;
                  width: 150px;
                "
              >
                <span class="text-light-emphasis">Nuestros valores:</span>
              </p>
              <ul class="fw-lighter" style="font-size: 1.1rem">
                <li>
                  <span class="text-secondary fw-bolder">Crecimiento</span>: La
                  formación continua es fundamental para nosotros y el objetivo
                  es el de crear contenidos verticales y transversales a través
                  de recorridos educativos sobre las tecnologías más usadas hoy
                  en día.
                </li>
                <li>
                  <span class="text-secondary fw-bolder"
                    >Compartir y discutir</span
                  >: El establecimiento de redes de contacto (networking), con
                  la posibilidad de compartir experiencias y dificultades y el
                  apoyo mutuo son la energía de nuestra comunidad.
                </li>
                <li>
                  <span class="text-secondary fw-bolder"
                    >Diversidad y accesibilidad</span
                  >: Una comunidad diversa cuya riqueza está en su
                  heterogeneidad, con diferentes perfiles y puntos de vista,
                  donde todos se puedan sentir cómodos. Animamos y apoyamos a
                  diversos grupos a participar activamente en todas nuestras
                  actividades e iniciativas con el objetivo de proporcionar una
                  educación tecnológica de nivel.
                </li>
              </ul>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button
              ngbNavLink
              class="fw-bold text-secondary fs-5"
              style="
                font-family: 'Libre Franklin';
                border-top: 6px solid rgba(255, 176, 5, 0.456);
              "
            >
              Partners
            </button>
            <ng-template ngbNavContent>
              <p class="fw-lighter" style="font-size: 1.1rem">
                Nuestra propuesta de colaboración (partnership) es para:
                </p>
                <p class="fw-lighter" style="font-size: 1.1rem">
                <span class="text-secondary fw-bolder">Comunidades</span> que comparten nuestros valores y deseen conectarse,
                crecer y compartir. </p>
                <p class="fw-lighter" style="font-size: 1.1rem">
                <span class="text-secondary fw-bolder">Personas, conferencias y empresas</span> que quieran ofrecer descuentos en productos o
                servicios que son de interés para la comunidad (formaciones,
                espacios de trabajo, herramientas, certificaciones, etc)
              </p>
              <img
                src="assets/img/certidevs.png"
                class="float-end p-2"
                style="width: 120px; box-shadow: 0 0 5px #dedede"
                alt="Certidevs"
              />
              <img
                src="assets/img/adeccoPNG.png"
                class="float-end p-2 me-3"
                style="width: 120px; box-shadow: 0 0 5px #dedede"
                alt="Certidevs"
              />
              <h5 class="text-secondary fw-bolder">
                ¿Porqué convertirse en partner?
              </h5>
              <p class="fw-lighter" style="font-size: 1.1rem">
                <span class="text-secondary fw-bolder">Apoyo</span>: comparte
                que nosotros tus eventos y te ayudamos a difundirlo en nuestra
                newsletter, Twitter e Instagram.
              </p>
              <p class="fw-lighter" style="font-size: 1.1rem">
                <span class="text-secondary fw-bolder">Proyectos</span>:
                Participa en nuestras conferencias proponiendo actividades,
                paneles, presentándote en booths y votando propuestas de
                charlas.
              </p>
              <p class="fw-lighter" style="font-size: 1.1rem">
                <span class="text-secondary fw-bolder">Visibilidad</span>: Da a
                conocer tu actividad y tus contenidos, y recluta nuevos miembros.
              </p>
              <p class="fw-lighter" style="font-size: 1.1rem">
                <span class="text-secondary fw-bolder">Formación</span>: Recibe
                descuentos y tickets gratuitos para nuestros eventos dirigidos a
                formar y hacer crecer a los miembros de tu comundad.
              </p>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <button
              ngbNavLink
              class="fw-bold text-secondary fs-5"
              style="
                font-family: 'Libre Franklin';
                border-top: 6px solid rgba(238, 1, 1, 0.417);
                border-left: 1px solid #dee2e6;
                border-right: 1px solid #dee2e6;
              "
            >
              Contribuye
            </button>
            <ng-template ngbNavContent>
              <p class="fw-lighter" style="font-size: 1.1rem">
                <figure
                  class="text-end mt-2 fst-italic text-secondary fw-bold"
                  style="font-family: 'Libre Franklin'"
                >
                  <blockquote class="blockquote">
                    <p>
                      Solos avanzamos rápido, pero juntos llegamos más lejos.
                    </p>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                    Anónimo y que nos encanta en
                    <cite title="Source Title">&commat;4iTech</cite>
                  </figcaption>
                </figure>
                En &commat;4iTech queremos trabajar día a día para entregar valor a la
                comunidad de personas dedicadas al desarrollo y profesionales
                del mundo de la tecnología. En nuestra web de eventos y charlas
                abordamos temáticas relacionadoas con todo tipo de lenguajes y
                tecnologías. Nuestro objetivo es apoyar el crecimiento
                profesional de los desarrolladores ofreciendo contenido de
                calidad y a la vanguardia. Por eso creemos en el poder de la
                divulgación de la comunidad, en el intercambio de conocimientos
                y en la pasión con la que los desarrolladores viven en su código
                día a día.
              </p>
              <h4 class="text-secondary fw-bold">¿Por qué ser colaborador?</h4>
              <ul
                class="list-group list-group-flush fw-lighter"
                style="font-size: 1.1rem"
              >
                <li class="list-group-item">
                  Sumérgete en nuevas experiencias y atrévete con nuevos
                  desafíos
                </li>
                <li class="list-group-item">Desarrolla nuevas habilidadaes</li>
                <li class="list-group-item">
                  Interactúa, comparte y crece junto a otros miembros
                </li>
                <li class="list-group-item">
                  Hazte conocer dentro de la comunidad y conviértete en un punto
                  de referencia
                </li>
              </ul>
            </ng-template>
          </li>
        </ul>
        <div
          [ngbNavOutlet]="nav"
          class="p-3 border-1"
          style="
            border-right: 1px solid #dee2e6;
            border-bottom: 1px solid #dee2e6;
            border-left: 1px solid #dee2e6;
            border-top: none;
          "
        >
      </div>
        <!-- fin sección navbar -->

        <br>
        <figure
          class="text-center mt-4 text-secondary"
          style="font-family: 'Libre Franklin'"
        >
          <blockquote class="blockquote">
            <p>Solos avanzamos rápido, pero juntos llegamos más lejos.</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-4">
            Anónimo y que nos encanta en
            <cite title="Source Title">&commat;4iTech</cite>
          </figcaption>
        </figure>
        <br>

        <h4 class="fw-bold text-secondary" style="font-family: 'Libre Franklin'"> Algunas de las categorías más demandadas en &commat;4ITECH</h4>
        <hr class="text-body-tertiary mt-0 pt-0">

        <!-- Estilo de las banderas para categorías -->
        <ul class="banderolas mt-4">
          <li style="--accent-color:#0B374D">
              <div class="icon"><i class="fa-sharp fa-solid fa-binary-circle-check"></i></div>
              <div class="title">Lenguajes</div>
              <div class="descr fs-6" style="text-shadow: 1px -1px 0px rgb(0, 0, 0);">C, C#, C++, Dart, Go, Java, JavaScript, Kotlin, PHP, Python, Rust, TypeScript, WebAssembly, Programación Funcional, ReactiveX</div>
          </li>
          <li style="--accent-color:#1286A8">
              <div class="icon"><i class="fa-brands fa-java"></i></div>
              <div class="title">Backend</div>
              <div class="descr fs-6" style="text-shadow: 1px -1px 1px black;">API, Blockchain, Cloud, Cloud Native, Cybersecurity, IoT, JSON, Kubernetes, Node.js, Software Architecture, Web Services, Web3</div>
          </li>
          <li style="--accent-color:#D2B53B">
              <div class="icon"><i class="fa-solid fa-code"></i></div>
              <div class="title">DevOps</div>
              <div class="descr fs-6" style="text-shadow: 1px -1px 1px rgb(54, 54, 54);">Agile, Automation, CI/CD, Containers, DevSecOps, Docker, Kubernetes, Testing</div>
          </li>
          <li style="--accent-color:#DA611E">
              <div class="icon"><i class="fa-brands fa-angular"></i></div>
              <div class="title">Frontend</div>
              <div class="descr fs-6" style="text-shadow: 1px -1px 1px rgb(75, 75, 75);">Angular, AR/VR/MR, Design System, JavaScript, React, Redux, TypeScript, Vue.js, Web App, Web Components, WebAssembly</div>
          </li>
          <li style="--accent-color:#AC2A1A">
              <div class="icon"><i class="fa-brands fa-css3-alt"></i></div>
              <div class="title">Design/UX</div>
              <div class="descr fs-6" style="text-shadow: 1px -1px 1px black;">Accessibility, Cross-Platform, CSS, Design System, HTML, HTML5, Product Design, UX/UI, Voice UX</div>
          </li>
          <li style="--accent-color:#0B374D">
            <div class="icon"><i class="fa-sharp fa-solid fa-microchip-ai"></i></div>
            <div class="title">AI</div>
            <div class="descr fs-6" style="text-shadow: 1px -1px 1px black;">Big Data, Bot, Data Science, Deep Learning, Python, PyTorch, Quantum, TensorFlow</div>
        </li>
        <li style="--accent-color:#1286A8">
          <div class="icon"><i class="fa-duotone fa-mobile"></i></div>
          <div class="title">Mobile</div>
          <div class="descr fs-6" style="text-shadow: 1px -1px 1px rgb(28, 28, 28);">Android, Cross-Platform, Flutter, iOS, Kotlin, Native Application, React Native</div>
      </li>
      <li style="--accent-color:#D2B53B">
        <div class="icon"><i class="fa-solid fa-database"></i></div>
        <div class="title">Data</div>
        <div class="descr fs-6" style="text-shadow: 1px -1px 1px rgb(56, 56, 56);">Apache Kafka, Big Data, Data Processing, Data Structure, Database, GraphQL</div>
    </li>
        </ul>
        <!-- Fin estilo de las banderas para categorías -->

        
        <h3
          class="text-secondary fw-bold mt-4"
          style="font-family: 'Libre Franklin'"
        >
          Echa un vistazo a nuestras reseñas y descubre lo que la comunidad
          tecnológica está diciendo sobre &commat;4itech.
        </h3>
        <p class="fw-lighter" style="font-size:1.1rem;">
          Te garantizamos que te sentirás inspirado y motivado para unirte a
          nosotros en nuestro próximo evento. <a class="text-secondary" href="/comments">Ver reseñas</a
          >.
        </p>
      </article>
    </div>

    <div class="col-md-4 ps-3 pe-0">
      <div class="position-sticky" style="top: 2rem">
        <div
          class="p-3 mb-2 bg-body-tertiary rounded"
          style="border-top: 8px solid rgba(128, 128, 128, 0.627)"
        >
          <h2
            class="text-secondary fw-bold"
            style="font-family: 'Libre Franklin'"
          >
            Charlas recientes
          </h2>
        </div>

        <ngb-carousel>
          @for (keynote of keynotes; track keynote.id) {
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                [src]="'http://localhost:8080/files/' + keynote?.photoUrl"
                [routerLink]="['/keynotes', keynote.id, 'detail']"
                class="img-fluid card-img-top zoom"
              />
            </div>
            <div
              class="carousel-caption"
              style="background-color: rgba(0, 0, 0, 0.5); border-radius: 10px"
            >
              <h3>
                <a
                  [routerLink]="['/keynotes', keynote.id, 'detail']"
                  class="text-light"
                  style="
                    text-decoration: none;
                    font-weight: bold;
                    font-family: 'Libre Franklin';
                  "
                  >{{ keynote.title }}</a
                >
              </h3>
            </div>
          </ng-template>
          }
        </ngb-carousel>

        <ngb-carousel class="mt-3">
          @for (comment of comments; track comment.id) {
          <ng-template ngbSlide>
            <div class="mb-3">
              <div
                class="card shadow-0 border"
                style="background-color: #f0f2f5"
              >
                <div class="card-body p-4">
                  <div class="card mb-4">
                    <div class="card-body text-secondary">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <img
                            class="rounded-circle shadow-1-strong me-3"
                            [src]="
                              'http://localhost:8080/files/' + 'avatar.png'
                            "
                            alt="avatar"
                            width="60"
                            height="60"
                          />
                          <div>
                            <h6 class="fw-bold text-primary-emphasis mb-1">
                              {{ comment.user?.firstName }}
                            </h6>

                            <p class="small mb-0 fst-italic">
                              Publicado -
                              {{ comment.dateTime | date : "dd/MM/yyyy" }}
                            </p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <p class="small text-muted mb-0">Rating</p>
                          <i
                            class="far fa-thumbs-up mx-2 fa-xs text-black"
                            style="margin-top: -0.16rem"
                          ></i>
                          <p class="small text-muted mb-0">
                            <ngb-rating
                              [(rate)]="comment.rating"
                              [max]="5"
                              [readonly]="true"
                              formControlName="rating"
                            >
                              <ng-template let-fill="fill" let-index="index">
                                <i
                                  class="bi-star{{
                                    fill === 100 ? '-fill' : ''
                                  }}"
                                  style="color: rgb(222, 191, 39); margin: 4px"
                                ></i>
                              </ng-template>
                            </ngb-rating>
                          </p>
                        </div>
                      </div>

                      <p
                        class="text-light-emphasis fw-lighter fst-italic mt-3 mb-4"
                        style="font-family: 'Libre Franklin'"
                      >
                        {{ comment.opinion | shortText }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          }
        </ngb-carousel>

        <!-- contenido del else -->
        <!-- <div class="container">
        <h5 class="text-secondary" style="font-family: 'Libre Franklin';"><strong>Para acceder al listado de charlas debes logarte previamente </strong><button class="btn me-3 ms-3"><a class="nav-link border border-primary-subtle rounded border-2 pe-3 inicio "  routerLink="/login" (click)="$event.preventDefault()" id="" role="button"><i class="bi bi-box-arrow-in-right me-2"></i>Acceder</a></button></h5>
      </div> -->

        <!-- sección ticket        -->
        <div class="p-3 mb-2 bg-body-tertiary rounded mt-4">
          <h2
            class="text-secondary fw-bold"
            style="font-family: 'Libre Franklin'"
          >
            Entradas a la venta
          </h2>
        </div>
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mt-2 mb-2 shadow-sm h-md-250 position-relative"
        >
          <img src="assets/img/entrada.png" alt="" />
        </div>
        <button
          class="btn btn-primary w-100 py-2 gradient-custom-2 fw-bold"
          type="submit"
          routerLink="/tickets"
          (click)="$event.preventDefault()"
        >
          Compra tu ticket Aquí
        </button>
        <!-- fin sección ticket -->

        <div class="p-4 mt-3 bg-body-tertiary mb-3">
          <h4
            class="fw-bold fst-italic text-secondary"
            style="font-family: 'Libre Franklin'"
          >
            ¡Con los conferenciantes más punteros en tecnología!
          </h4>
        </div>

        <!-- testing ponentes -->
        <div class="gallery mb-5 ms-5 mt-2" style="">
          <img src="assets/keynotes/speaker13.webp" />
          <img src="assets/keynotes/speaker12.webp" />
          <img src="assets/keynotes/speaker11.jpeg" />
          <img src="assets/keynotes/speaker10.webp" />
          <img src="assets/keynotes/speaker3.jpeg" />
          <img src="assets/keynotes/speaker4.jpeg" />
          <img src="assets/keynotes/speaker6.jpeg" />
          <img src="assets/keynotes/speaker9.webp" />
          <img src="assets/keynotes/speaker21.png" />
        </div>
        <!-- fin testing ponentes -->

        <div class="video-cover vid-container pt-3">
          <video autoplay loop muted>
            <source src="assets/videos/video_charlas_2.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección sobre nosotros -->
  <div class="row mb-5 mt-4" style="justify-content: center;">
    <h2
          class="text-secondary fw-bold mt-4 text-center mb-5"
          style="font-family: 'Libre Franklin'"
        >
          Los organizadores de &commat;4iTech
        </h2>
    <div
      class="col-lg-2 me-3"
      style="
        box-shadow: 0 0 4px #ccc;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Libre Franklin';
        border-top: 6px solid #D2B53B;
      "
    >
      <img
        class="rounded-circle mt-2 zoom1"
        src="assets/nosotros/Silvia.png"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h3 class="text-secondary mt-3">Silvia Sánchez</h3>
      <p class="text-secondary">Desarrolladora Full Stack Java Spring Boot</p>
      <a href=""><i class="bi bi-linkedin fs-3 me-3"></i></a
      ><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
    </div>
    <!-- /.col-lg-4 -->
    <div
      class="col-lg-2 me-3"
      style="
        box-shadow: 0 0 4px #ccc;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Libre Franklin';
        border-top: 6px solid #4284db;
      "
    >
      <img
        class="rounded-circle mt-2 zoom"
        src="assets/nosotros/Aitor.jpeg"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h3 class="text-secondary mt-3">Aitor Pérez</h3>
      <p class="text-secondary">Desarrollador Full Stack Java Spring Boot</p>
      <a href=""><i class="bi bi-linkedin fs-3 me-3"></i></a
      ><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
    </div>
    <!-- /.col-lg-4 -->
    <div
    class="col-lg-2 me-3"
    style="
      box-shadow: 0 0 4px #ccc;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      font-family: 'Libre Franklin';
      border-top: 6px solid #D2B53B;
    "
  >
    <img
      class="rounded-circle mt-2 zoom1"
      src="assets/nosotros/Johana.jpeg"
      alt="Generic placeholder image"
      width="140"
      height="140"
    />
    <h3 class="text-secondary mt-3">Johana Macías</h3>
    <p class="text-secondary">Desarrolladora Full Stack Java Spring Boot</p>
    <a href=""><i class="bi bi-linkedin fs-3 me-3"></i></a
    ><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
  </div>
  <!-- /.col-lg-4 -->
    <div
      class="col-lg-2 me-3"
      style="
        box-shadow: 0 0 4px #ccc;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Libre Franklin';
        border-top: 6px solid #4284db;
      "
    >
      <img
        class="rounded-circle mt-2 zoom"
        src="assets/nosotros/Javier.png"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h3 class="text-secondary mt-3">Javier Baeza</h3>
      <p class="text-secondary">Desarrollador Full Stack Java Spring Boot</p>
      <a
        href="https://www.linkedin.com/in/javier-baeza-rojano-ossorio/"
        target="_blank"
        ><i class="bi bi-linkedin fs-3 me-3"></i></a
      ><a href="" class="text-dark"><i class="bi bi-twitter-x fs-3"></i></a>
    </div>
    <!-- /.col-lg-4 -->
    <div
      class="col-lg-2"
      style="
        box-shadow: 0 0 4px #ccc;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        font-family: 'Libre Franklin';
        border-top: 6px solid #D2B53B;
      "
    >
      <img
        class="rounded-circle mt-2 zoom1"
        src="assets/nosotros/Angel.jpeg"
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h3 class="text-secondary mt-3">Angel Martínez</h3>
      <p class="text-secondary">Desarrollador Full Stack Java Spring Boot</p>
      <a href="https://www.linkedin.com/in/angelmariamartinez/" target="_blank"
        ><i class="bi bi-linkedin fs-3 me-3"></i></a
      ><a href="https://twitter.com/angelmaria75" class="text-dark"
        ><i class="bi bi-twitter-x fs-3"></i
      ></a>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- fin sección sobre nosotros -->

  <!-- <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="our-team rounded" style="font-family: 'Libre Franklin'; border-top: 6px solid #4284DB; box-shadow:0 0 3px #ccc;">
            <div class="picture">
              <img class="img-fluid" src="assets/nosotros/Johana.jpeg">
            </div>
            <div class="team-content">
              <h3 class="name text-secondary">Johana Macias</h3>
              <h4 class="title text-secondary">Web Developer</h4>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="assets/nosotros/Silvia.png">
            </div>
            <div class="team-content">
              <h3 class="name text-secondary">Silvia Sánchez</h3>
              <h4 class="title">Web Developer</h4>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
            </div>
            <div class="team-content">
              <h3 class="name">Justin Ramos</h3>
              <h4 class="title">Web Developer</h4>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
            </div>
            <div class="team-content">
              <h3 class="name">Mary Huntley</h3>
              <h4 class="title">Web Developer</h4>
            </div>
            <ul class="social">
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
              <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
</main>
