@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;600;900&display=swap");

.registro {
          /* fallback for old browsers */
          background: #c48b45;
          
        
          /* Chrome 10-25, Safari 5.1-6 */
          background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        
          
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

          font-family: 'Libre Franklin';

}

/* Estilos para el video */
  video {
    width: 100%;
    height: 100%;
  }
  
  .vid-container {
    position: relative;
    /* width: 840px; */
    /* height: 272px; */
    height: 440px;
    overflow: hidden;
  }
  
  .video-cover video {
    object-fit: cover;
  }
  /* Estilos del boton ticket */
  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #1e5be8;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #4f8cef, #4b70e1, #5498f2, #31b4c8);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #4f8cef, #4b70e1, #5498f2, #31b4c8);
    }

/* efecto de agrandar las imágenes del grid un 20% */
img.zoom {
  transition: 0.4s ease-in-out;
  border:none;
}
img.zoom:hover {
  transform: scale(1.2);
  border: 2px solid #4284db;
}
img.zoom1 {
  transition: 0.4s ease-in-out;
  border:none;
}
img.zoom1:hover {
  transform: scale(1.2);
  border: 2px solid rgba(255, 176, 5, 0.748);
}
/* Estilos para slider portrato de ponentes dinámico */
.gallery {
  --d: 20s; /* duration */
  
  display: grid;
  width: 280px;
}

.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: 
    slide var(--d) infinite,
    z-order var(--d) infinite steps(1);
}

.gallery img:last-child {
  animation-name: slide, z-order-last;
}

.gallery > img:nth-child(1) {
  animation-delay: calc((1 - 1)/5*var(--d));
  --r: -20deg; /* Random rotation between -20deg and 20deg */
}

.gallery > img:nth-child(2) {
  animation-delay: calc((1 - 2)/5*var(--d));
  --r: 0deg; /* Random rotation between -20deg and 20deg */
}

.gallery > img:nth-child(3) {
  animation-delay: calc((1 - 3)/5*var(--d));
  --r: 10deg; /* Random rotation between -20deg and 20deg */
}

.gallery > img:nth-child(4) {
  animation-delay: calc((1 - 4)/5*var(--d));
  --r: -10deg; /* Random rotation between -20deg and 20deg */
}

.gallery > img:nth-child(5) {
  animation-delay: calc((1 - 5)/5*var(--d));
  --r: 20deg; /* Random rotation between -20deg and 20deg */
}

@keyframes slide {
  10%  {transform: translateX(120%) rotate(var(--r))}
  0%,
  100%,
  20% {transform: translateX(0%)   rotate(var(--r))}
}

@keyframes z-order {
  10%,
  20% {z-index: 1}
  80% {z-index: 2}
}

@keyframes z-order-last {
  10%,
  20% {z-index: 1}
  75% {z-index: 2}
}

/* body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: #CDB380;
  overflow: hidden;
} */

/* Fin de estilos para slider portrato de ponentes */

/* Estilos para los contactos del home */
/* body {
  font-family: tahoma;
  height: 100vh;
  background-image: url(https://picsum.photos/g/3000/2000);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
} */

/* .our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
} */
/* Fin estilos para contacto */

/* Estilos para categorías en banderolas */

ul.banderolas {
  --col-gap: 2rem;
  --barH: 1rem;
  --roleH: 2rem;
  --flapH: 2rem;

  width: min(60rem, 90%);
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;

  gap: var(--col-gap);
  padding-inline: calc(var(--col-gap) / 2);

  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
ul.banderolas li {
  width: 10em;
  display: grid;
  grid-template:
    "role"
    "icon"
    "title"
    "descr";
  align-items: flex-start;
  gap: 1rem;
  padding-block-end: calc(var(--flapH) + 1rem);
  text-align: center;
  background: var(--accent-color);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6) var(--roleH),
    rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
    rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem)
  );
  clip-path: polygon(
    calc(var(--col-gap) / -2 - 5px) 0,
    calc(100% + var(--col-gap) / 2 + 5px) 0,
    calc(100% + var(--col-gap) / 2 + 5px ) calc(100% - var(--flapH)),
    50% 100%,
    calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH))
  );
}

/* bar */
ul.banderolas li::before {
  content: "";
  grid-area: role;
  height: var(--barH);
  width: calc(100% + var(--col-gap));
  margin-left: calc(var(--col-gap) / -2);
  margin-top: calc(var(--roleH) / 2 - var(--barH) / 2);
  background: grey;
  z-index: -1;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2) 30%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.4)
  );
}

/* role */
ul.banderolas li::after {
  content: "";
  grid-area: role;
  background: var(--accent-color);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2) 30%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.4)
  );
  height: var(--roleH);
}

ul.banderolas li .icon,
ul.banderolas li .title,
ul.banderolas li .descr {
  padding-inline: 1rem;
  color: white;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

ul.banderolas li .icon {
  font-size: 3rem;
}
ul.banderolas li .title {
  font-size: 1.25rem;
  font-weight: 700;
}

ul.banderolas li .descr {
  font-size: 0.9rem;
}

.credits {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.credits a {
  color: var(--color);
}
.engraved {
    color: #3B5957;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

/* Fin de estilos para categorías en banderolas */