


<div class="container" style="width: 50%;">
    <div class="row">
        <div class="col">


            <h1 class="mt-5 mb-5" style="color: green;">
              Pantalla detalle de comentario con Id:
               <span class="badge text-bg-success text-decoration-none" >{{comment?.id}}</span></h1>

            @if (comment) {
           
            <div class="card border-success mb-3" style="max-width: 50rem; max-height: 50rem; border-radius: 10px;">
                
              @if (comment.user) {
                <div class="card-header">Usuario: {{comment.user.firstName}}</div>
              } @else {
                <div class="card-header">Usuario anónimo</div>

              }
                <div class="card-body text-success">
                  <h5 class="card-title">Comentario de la charla: «{{comment.keynote.title}}»</h5> 
                  <p class="card-text">{{comment.opinion}}</p>
                </div>
                <hr>
                
                <!-- nbgratinng-->
                <p style="margin-left: 15px;">Valoración: {{comment.rating}}</p>
                <div class=" mb-3 text-center" >
                  <ngb-rating [(rate)]="comment.rating" formControlName="rating">
                    <ng-template let-fill="fill" let-index="index">
                      <i class="bi-star{{ fill === 100 ? '-fill' : '' }}" [class.filled]="fill === 100" [class.low]="index < 3" style="color: rgb(222, 191, 39); margin: 4px;"></i>
                    </ng-template>
                  </ngb-rating>

                </div>
                
                
              </div>
              

            <button class="btn btn-success" [routerLink]="['/comments', comment.id, 'update']">Editar comentario</button>
            }
        </div>
    </div>
</div>