

<div class="container">
    <div class="row">
      <div class="col">
  
        <h1 class="mt-5 mb-5">Listado de Comentarios</h1>
  
        @if (showDeletedCommentMessage) {
          <!--<ngb-alert type="success" [dismissible]="false">Comentario borrado correctamente</ngb-alert>-->
          <ngb-alert type="success" (closed)="hideDeletedCommentMessage()">Comentario borrado correctamente.</ngb-alert>
        }
  
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Valoración</th>
              <th scope="col">Reseña</th>
              <th scope="col">Usuario</th>
              <th scope="col">Charla</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (comment of comments; track comment.id) {
              <tr>
                <th scope="row">{{comment.id}}</th>
                <td>{{comment.rating}}</td>
                <td>{{comment.opinion}}</td>  
                <td>
                  <a class="badge text-bg-secondary text-decoration-none" [routerLink]="['/comments', comment.user.id, 'detail']">
                    {{comment.user.firstName}}
                  </a>
                </td>
                <td>
                  <a class="badge text-bg-warning text-decoration-none" [routerLink]="['/comments', comment.keynote.id, 'detail']">
                    {{comment.keynote.title}}
                  </a>
                </td>
                <td>
                  <button class="btn btn-info mb-1" [routerLink]="['/comments', comment.id, 'detail']">Ver</button>
                  <button class="btn btn-success mb-1" [routerLink]="['/comments', comment.id, 'update']">Editar</button>
                  <button class="btn btn-danger " (click)="delete(comment)">Borrar</button>
                </td>
              </tr>
            
            }
  
          </tbody>
        </table>
  
      </div>
    </div>
  </div>
  
  
